@use "../../builder/tokens-builder";
@use "share";
@use "supporing-text";

@mixin theme($new-token) {

}

@mixin styles() {
  .nd-filled-field {
    @include share.theme((
      input-block-start-space: calc(56px - 8px - 24px),
      input-block-end-space: 8px,
      input-opacity: 0
    ));
    position: relative;
    cursor: text;
    @include share.styles;
    @include supporing-text.styles;

    &::before {
      content: '';
      position: absolute;
      inset-inline: 0;
      inset-block-end: 0;
      height: var(--_active-indicator-height);
      background: var(--_active-indicator-color);
    }

    .nd-field {
      .nd-filled-field__label {
        position: absolute;
        inset-inline-start: calc(16px);
        color: var(--_label-text-color);
        font-size: var(--_label-text-font);
        font-weight: var(--_label-text-weight);
        line-height: var(--_label-text-line-height);
      }

      &.with-leading {
        .nd-filled-field__label {
          inset-inline-start: calc(12px + 24px + 16px);
        }
      }
    }

    &.populated {
      .nd-field {
        .nd-filled-field__label {
          color: var(--_focus-label-text-color);
          line-height: var(--_label-text-populated-line-height);
        }
      }
    }

    &.focus,
    &.populated {
      @include share.theme((
        input-opacity: 1
      ))
    }

    &:hover {
      @include share.theme((
        input-text-color: var(--_hover-input-text-color),
        leading-icon-color: var(--_hover-leading-icon-color),
        trailing-icon-color: var(--_hover-trailing-icon-color)
      ));

      &::before {
        background: var(--_hover-active-indicator-color);
        height: var(--_hover-active-indicator-height);
      }

      &.error {
        @include share.theme((
          input-text-color: var(--_error-hover-input-text-color),
          leading-icon-color: var(--_error-hover-leading-icon-color),
          trailing-icon-color: var(--_error-hover-trailing-icon-color)
        ));
        @include supporing-text.theme((
          supporting-text-color: var(--_error-hover-supporting-text-color)
        ));

        &::before {
          background: var(--_error-hover-active-indicator-color);
        }

        .nd-field {
          .nd-filled-field__label {
            color: var(--_error-hover-label-text-color);
          }
        }
      }

      .nd-field {
        .nd-filled-field__label {
          color: var(--_hover-label-text-color);
        }
      }
    }

    &.focus {
      @include share.theme((
        input-text-color: var(--_focus-input-text-color)
      ));
      @include supporing-text.theme((
        supporting-text-color: var(--_focus-supporting-text-color)
      ));

      &::before {
        background: var(--_focus-active-indicator-color);
        height: var(--_focus-active-indicator-height);
      }

      &.error {
        @include share.theme((
          caret-color: var(--_error-focus-caret-color),
          input-text-color: var(--_error-focus-input-text-color),
          leading-icon-color: var(--_error-focus-leading-icon-color),
          trailing-icon-color: var(--_error-focus-trailing-icon-color)
        ));
        @include supporing-text.theme((
          supporting-text-color: var(--_error-focus-supporting-text-color)
        ));

        &::before {
          background: var(--_error-focus-active-indicator-color);
        }

        .nd-field {
          .nd-filled-field__label {
            color: var(--_error-focus-label-text-color);
          }
        }
      }
    }

    &.error {
      @include share.theme((
        input-text-color: var(--_error-input-text-color),
        leading-icon-color: var(--_error-leading-icon-color),
        trailing-icon-color: var(--_error-trailing-icon-color)
      ));
      @include supporing-text.theme((
        supporting-text-color: var(--_error-supporting-text-color)
      ));

      &::before {
        background: var(--_error-active-indicator-color);
      }

      .nd-field {
        .nd-filled-field__label {
          color: var(--_error-label-text-color);
        }
      }
    }

    &.disabled {
      @include share.theme((
        input-text-color: var(--_disabled-input-text-color),
        leading-icon-color: var(--_disabled-leading-icon-color),
        trailing-icon-color: var(--_disabled-trailing-icon-color),
        leading-opacity: var(--_disabled-leading-icon-opacity),
        trailing-opacity: var(--_disabled-trailing-icon-opacity)
      ));
      @include supporing-text.theme((
        supporting-text-color: var(--_disabled-supporting-text-color),
        supporting-text-opacity: var(--_disabled-supporting-text-opacity)
      ));

      &.populated {
        @include share.theme((
          input-opacity: var(--_disabled-input-text-opacity),
        ))
      }

      &::before {
        background: var(--_disabled-active-indicator-color);
        height: var(--_disabled-active-indicator-height);
        opacity: var(--_disabled-active-indicator-opacity);
      }

      .nd-field {
        .nd-filled-field__label {
          color: var(--_disabled-label-text-color);
          opacity: var(--_disabled-label-text-opacity);
        }
      }
    }
  }
}