@use "../../tokens/md-comp-filled-field";
@use "../../builder/tokens-builder";

$supported-tokens: (
  'input-block-start-space',
  'input-block-end-space',
  'input-text-color',
  'input-text-font',
  'input-line-height',
  'input-font-weight',
  'input-font-size',
  'input-opacity',
  'leading-icon-color',
  'leading-opacity',
  'trailing-icon-color',
  'trailing-opacity',
  'caret-color'
);
@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, $supported-tokens, field)
}

@mixin styles() {
  .nd-field {
    position: relative;
    display: inline-flex;
    align-items: center;

    .nd-field__leading,
    .nd-field__trailing {
      display: none;
    }

    .nd-field__leading,
    .nd-field__leading > * {
      color: var(--md-field-leading-icon-color, var(--_leading-icon-color));
      font-size: var(--_leading-icon-size);
      opacity: var(--md-field-leading-opacity, 1);
    }

    .nd-field__trailing,
    .nd-field__trailing > * {
      color: var(--md-field-trailing-icon-color, var(--_trailing-icon-color));
      font-size: var(--_trailing-icon-size);
      opacity: var(--md-field-trailing-opacity, 1);
    }

    &.with-leading,
    &.with-trailing {
      .nd-field__leading,
      .nd-field__trailing {
        display: flex;
      }
    }

    &.with-leading {
      padding-inline-start: 12px;
    }

    &.with-trailing {
      padding-inline-end: 12px;
    }

    .nd-field__input-wrapper,
    .nd-field__input-wrapper > input {
      color: var(--md-field-input-text-color, var(--_input-text-color));
      font-family: var(--md-field-input-text-font, var(--_input-text-font));
      line-height: var(--md-field-input-line-height, var(--_input-text-line-height));
      font-weight: var(--md-field-input-font-weight, var(--_input-text-weight));
      font-size: var(--md-field-input-font-size, var(--_input-text-size));
    }

    .nd-field__input-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: end;
      padding-inline: 16px;
      opacity: var(--md-field-input-opacity, 1);
      block-size: inherit;

      .nd-field__input-wrapper__prefix,
      .nd-field__input-wrapper__suffix {
        display: none;
      }

      .nd-field__input-wrapper__input {
        z-index: 10;
        border: none;
        outline: none;
        background: transparent;
        padding-block-end: var(--md-field-input-block-end-space, 0);
        padding-block-start: var(--md-field-input-block-start-space, 0);
        caret-color: var(--md-field-caret-color, var(--_caret-color));
        block-size: inherit;

        &::placeholder {
          color: var(--input-text-placeholder-color);
        }
      }

      .nd-field__input-wrapper__prefix {
        color: var(--_input-text-prefix-color);
      }

      .nd-field__input-wrapper__suffix {
        color: var(--_input-text-suffix-color)
      }

      &.with-prefix {
        .nd-field__input-wrapper__prefix {
          display: block;
          inset-inline-start: 0;
        }
      }

      &.with-suffix {
        .nd-field__input-wrapper__suffix {
          display: block;
          inset-inline-end: 0;
        }
      }
    }
  }
}