@use "../../builder/tokens-builder";

$supported-tokens: (
  'supporting-text-color',
  'supporting-text-opacity'
);

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, $supported-tokens, field)
}

@mixin styles() {
  .nd-field__supporting-text {
    position: absolute;
    display: flex;
    inset-inline: 0;
    inset-block-end: 0;
    transform: translateY(100%);
    padding-block-start: 4px;
    padding-inline: 16px;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--_supporting-text-size);
    color: var(--md-field-supporting-text-color, var(--_supporting-text-color));
    font-family: var(--_supporting-text-font);
    line-height: var(--_supporting-text-line-height);
    font-weight: var(--_supporting-text-weight);
    opacity: var(--md-field-supporting-text-opacity, 1);
  }
}