@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-elevated-button";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Elevation/internal/elevation";
@use "../../Focus/internal/focus-ring";
@use "shared";

$token: md-comp-elevated-button.values();

@mixin theme($new-token) {
  @include tokens-builder.theme($new-token, md-comp-elevated-button.$supported-tokens, elevated-button);
}

@mixin styles() {
  .nd-elevated-button {
    @include tokens-builder.tokens($token, elevated-button);
    @include elevation.theme((
      level: var(--_container-elevation),
      shadow-color: var(--_container-shadow-color)
    ));
    @include ripple.theme((
      hover-color: var(--_hover-state-layer-color),
      hover-opacity: var(--_hover-state-layer-opacity),
      pressed-color: var(--_pressed-state-layer-color),
      pressed-opacity: var(--_pressed-state-layer-opacity)
    ));
    @include background.theme((
      color: var(--_container-color),
      opacity: 1,
      z-index: -1
    ));
    @include focus-ring.theme((
      shape-start-start: var(--_container-shape-start-start),
      shape-start-end: var(--_container-shape-start-end),
      shape-end-start: var(--_container-shape-end-start),
      shape-end-end: var(--_container-shape-end-end),
    ));
    --_container-shape-start-start: var(--md-elevated-button-container-shape-start-start, var(--_container-shape));
    --_container-shape-start-end: var(--md-elevated-button-container-shape-start-end, var(--_container-shape));
    --_container-shape-end-end: var(--md-elevated-button-container-shape-end-end, var(--_container-shape));
    --_container-shape-end-start: var(--md-elevated-button-container-shape-end-start, var(--_container-shape));
    @include background.styles;
    @include shared.styles;
  }
}