@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-elevated-button";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Elevation/internal/elevation";
@use "../../Focus/internal/focus-ring";
@use "shared";

$token: md-comp-elevated-button.values();

@mixin theme($new-token) {
  @include tokens-builder.theme($new-token, md-comp-elevated-button.$supported-tokens, elevated-button);
}

@mixin styles() {
  @include tokens-builder.tokens($token, elevated-button);
  @include elevation.theme((
    level: var(--_container-elevation)
  ));
  @include ripple.theme((
    hover-color: var(--_hover-state-layer-color),
    pressed-color: var(--_pressed-state-layer-color)
  ));
  @include background.theme((
    color: var(--_container-color)
  ));
  --_container-shape-start-start: var(--md-elevated-button-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-elevated-button-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-elevated-button-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-elevated-button-container-shape-end-start, var(--_container-shape));
  @include focus-ring.theme((
    shape-start-start: var(--_container-shape-start-start),
    shape-start-end: var(--_container-shape-start-end),
    shape-end-start: var(--_container-shape-end-start),
    shape-end-end: var(--_container-shape-end-end),
  ));
  @include background.styles;
  @include shared.styles;
}