@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-elevated-button";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Elevation/internal/elevation";
@use "../../Focus/internal/focus-ring";
@use "shared";

$token: md-comp-elevated-button.values();

@mixin theme($new-token) {
  @include tokens-builder.theme($new-token, md-comp-elevated-button.$supported-tokens, elevated-button);
}

@mixin styles() {
  .nd-elevated-button {
    @include tokens-builder.tokens($token, elevated-button);
    @include elevation.theme((
      level: var(--md-elevated-button-container-elevation),
      shadow-color: var(--md-elevated-button-container-shadow-color)
    ));
    @include ripple.theme((
      hover-color: var(--md-elevated-button-hover-state-layer-color),
      hover-opacity: var(--md-elevated-button-hover-state-layer-opacity),
      pressed-color: var(--md-elevated-button-pressed-state-layer-color),
      pressed-opacity: var(--md-elevated-button-pressed-state-layer-opacity)
    ));
    @include background.theme((
      color: var(--md-elevated-button-container-color),
      opacity: 1,
      z-index: -1
    ), elevated-button);
    --md-elevated-button-container-shape-start-start: var(--md-cust-elevated-button-container-shape-start-start, var(--md-elevated-button-container-shape));
    --md-elevated-button-container-shape-start-end: var(--md-cust-elevated-button-container-shape-start-end, var(--md-elevated-button-container-shape));
    --md-elevated-button-container-shape-end-end: var(--md-cust-elevated-button-container-shape-end-end, var(--md-elevated-button-container-shape));
    --md-elevated-button-container-shape-end-start: var(--md-cust-elevated-button-container-shape-end-start, var(--md-elevated-button-container-shape));
    @include focus-ring.theme((
      shape-start-start: var(--md-elevated-button-container-shape-start-start),
      shape-start-end: var(--md-elevated-button-container-shape-start-end),
      shape-end-start: var(--md-elevated-button-container-shape-end-start),
      shape-end-end: var(--md-elevated-button-container-shape-end-end),
    ));

    @include background.styles(elevated-button);
    @include shared.styles(elevated-button);
  }
}