@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-filled-tonal-button";
@use "shared";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Elevation/internal/elevation";

$tokens: md-comp-filled-tonal-button.values();

@mixin theme($tokens){
  @include tokens-builder.theme($tokens, md-comp-filled-tonal-button.$supported-tokens, filled-tonal-button);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, filled-tonal-button);
  @include background.styles;
  @include elevation.theme((
    level: var(--_container-elevation)
  ));
  @include ripple.theme((
    hover-color: var(--_hover-state-layer-color),
    pressed-color: var(--_pressed-state-layer-color)
  ));
  --_container-shape-start-start: var(--md-filled-tonal-button-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-filled-tonal-button-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-filled-tonal-button-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-filled-tonal-button-container-shape-end-start, var(--_container-shape));
  @include shared.styles;
}