@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-outlined-button";
@use "../../Outline/internal/outline";
@use "../../Ripple/internal/ripple";
@use "../../Elevation/internal/elevation";
@use "../../Focus/internal/focus-ring";
@use "shared";

$tokens: md-comp-outlined-button.values();

@mixin theme($tokens){
  @include tokens-builder.theme($tokens, md-comp-outlined-button.$supported-tokens, outlined-button);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, outlined-button);
  @include elevation.theme((
    level: var(--_container-elevation)
  ));
  @include ripple.theme((
    hover-color: var(--_hover-state-layer-color),
    pressed-color: var(--_pressed-state-layer-color)
  ));
  --_container-shape-start-start: var(--md-outlined-button-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-outlined-button-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-outlined-button-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-outlined-button-container-shape-end-start, var(--_container-shape));
  @include focus-ring.theme((
    shape-start-start: var(--_container-shape-start-start),
    shape-start-end: var(--_container-shape-start-end),
    shape-end-start: var(--_container-shape-end-start),
    shape-end-end: var(--_container-shape-end-end),
  ));
  @include outline.theme((
    color: var(--_outline-color),
    width: var(--_outline-width)
  ));
  @include shared.styles;
}