@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Elevation/internal/elevation";

@mixin styles($comp: "") {
  position: relative;
  display: inline-flex;
  border-start-start-radius: var(--md-#{$comp}-container-shape-start-start);
  border-start-end-radius: var(--md-#{$comp}-container-shape-start-end);
  border-end-start-radius: var(--md-#{$comp}-container-shape-end-start);
  border-end-end-radius: var(--md-#{$comp}-container-shape-end-end);
  z-index: 10;
  block-size: var(--md-#{$comp}-container-height);

  button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }

  .nd-button {
    display: inline-flex;
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    border-radius: inherit;
    color: var(--md-#{$comp}-label-text-color);
    font-size: var(--md-#{$comp}-label-text-size);
    font-family: var(--md-#{$comp}-label-text-font), serif;
    line-height: var(--md-#{$comp}-label-text-line-height);
    block-size: 100%;
    inline-size: 100%;
    font-weight: var(--_label-text-weight);
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    $single-line-height: max(var(--md-#{$comp}-label-text-line-height), var(--md-#{$comp}-icon-size));
    padding-block: calc((var(--md-#{$comp}-container-height) - $single-line-height) / 2);
    padding-inline-start: var(--md-#{$comp}-leading-space);
    padding-inline-end: var(--md-#{$comp}-trailing-space);
    min-width: 64px;
    white-space: nowrap;

    .nd-button__icon-slot > * {
      font-size: var(--md-#{$comp}-icon-size);
      block-size: var(--md-#{$comp}-icon-size);
      inline-size: var(--md-#{$comp}-icon-size);
      color: var(--md-#{$comp}-label-text-color);
      fill: var(--md-#{$comp}-label-text-color);;
    }

    .nd-button__icon-slot {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .nd-button__a {
      position: absolute;
      inset: 0;
      border-radius: inherit;
      display: inline-block;
    }

    &.nd-button--has-icon {
      padding-inline-start: var(--md-#{$comp}-with-leading-icon-leading-space);
      padding-inline-end: var(--md-#{$comp}-with-leading-icon-trailing-space);
    }

    &.nd-button--has-trailing-icon {
      padding-inline-start: var(--md-#{$comp}-with-trailing-icon-leading-space);
      padding-inline-end: var(--md-#{$comp}-with-trailing-icon-trailing-space);
    }
  }

  &:hover {
    @include elevation.theme((
      level: var(--md-#{$comp}-hover-container-elevation)
    ))
  }

  &:focus-visible {
    @include elevation.theme((
      level: var(--md-#{$comp}-focus-container-elevation)
    ))
  }

  &:active {
    @include elevation.theme((
      level: var(--md-#{$comp}-pressed-container-elevation)
    ))
  }

  &.nd-disabled {
    @include elevation.theme((
      level: var(--md-#{$comp}-disabled-container-elevation)
    ));
    @include background.theme((
      color: var(--md-#{$comp}-disabled-container-color),
      opacity: var(--md-#{$comp}-disabled-container-opacity)
    ), $comp);

    .nd-button {
      color: var(--md-#{$comp}-disabled-label-text-color);
      opacity: var(--md-#{$comp}-disabled-label-text-opacity);
      cursor: auto;

      .nd-button__icon-slot > * {
        color: var(--md-#{$comp}-disabled-label-text-color);
        fill: var(--md-#{$comp}-disabled-label-text-color);;
      }
    }
  }
}