@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-text-button";
@use "../../Focus/internal/focus-ring";
@use "../../Ripple/internal/ripple";
@use "shared";

$tokens: md-comp-text-button.values();

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, md-comp-text-button.$supported-tokens, text-button);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, text-button);
  @include ripple.theme((
    hover-color: var(--_hover-state-layer-color),
    pressed-color: var(--_pressed-state-layer-color)
  ));
  --_container-shape-start-start: var(--md-text-button-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-text-button-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-text-button-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-text-button-container-shape-end-start, var(--_container-shape));
  @include focus-ring.theme((
    shape-start-start: var(--_container-shape-start-start),
    shape-start-end: var(--_container-shape-start-end),
    shape-end-start: var(--_container-shape-end-start),
    shape-end-end: var(--_container-shape-end-end),
  ));
  @include shared.styles;
}