.pagination {
  display: flex;
  gap: 5px;
  justify-content: right;
}

.pagination button,
.pagination span{
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination svg {
  scale: 0.8;

}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  background-color: #f1f1f1;
  color: #999;
  cursor: not-allowed;
}

.pagination .ellipsis {
  padding: 5px 10px;
  color: #666;
  cursor: default;
}

.pagination .material-icons-outlined{
  font-size: 1rem;
  background: transparent;
  border: none;
  padding: 0;
}