
@mixin styles() {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: var(--_container-color);
    z-index: -1;
  }
}