@use "../../tokens/md-comp-primary-tab";
@use "../../builder/tokens-builder";
@use "../../Ripple/internal/ripple";
@use "../../Focus/internal/focus-ring";
@use "./tab";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-primary-tab.$supported-tokens, primary-tab);
}

@mixin styles() {
  @include tab.styles;

  .primary-tab {
    @include tokens-builder.tokens(md-comp-primary-tab.values(), primary-tab);
    --md-primary-tab-container-shape-start-start: var(--md-primary-tab-container-shape-start-start, var(--md-primary-tab-container-shape));
    --md-primary-tab-container-shape-start-end: var(--md-primary-tab-container-shape-start-end, var(--md-primary-tab-container-shape));
    --md-primary-tab-container-shape-end-end: var(--md-primary-tab-container-shape-end-end, var(--md-primary-tab-container-shape));
    --md-primary-tab-container-shape-end-start: var(--md-primary-tab-container-shape-end-start, var(--md-primary-tab-container-shape));
    @include tab.theme((
      font-size: var(--md-primary-tab-label-text-size),
      font-weight: var(--md-primary-tab-label-text-weight),
      font-line-height: var(--md-primary-tab-label-text-line-height),
      font-color: var(--md-primary-tab-label-text-color),
      font-family: var(--md-primary-tab-label-text-font)
    ));
    @include ripple.theme((
      hover-color: var(--md-primary-tab-hover-state-layer-color),
      hover-opacity: var(--md-primary-tab-hover-state-layer-opacity),
      pressed-color: var(--md-primary-tab-pressed-state-layer-color),
      pressed-opacity: var(--md-primary-tab-pressed-state-layer-opacity)
    ));
    @include focus-ring.theme((
      shape-start-start: var(--md-primary-tab-container-shape-start-start),
      shape-start-end: var(--md-primary-tab-container-shape-start-end),
      shape-end-start: var(--md-primary-tab-container-shape-end-start),
      shape-end-end: var(--md-primary-tab-container-shape-end-end),
    ));
    background: var(--md-primary-tab-container-color);
    block-size: var(--md-primary-tab-container-height);
    border-radius: var(--md-primary-tab-container-shape);
    cursor: pointer;
    outline: none;
    position: relative;

    .nd-focus-ring-container {
      z-index: 10;

      .nd-focus-ring {
        border-radius: var(--md-primary-tab-container-shape);
      }
    }

    .primary-tab__indicator {
      block-size: var(--md-primary-tab-active-indicator-height);
      background: var(--md-primary-tab-active-indicator-color);
      border-radius: var(--md-primary-tab-active-indicator-shape);
    }

    .tab__presentation {
      inline-size: fit-content;
      block-size: 100%;
    }

    &.primary-tab--focus {
      .tab__presentation {
        .tab__presentation__icon {
          color: var(--md-primary-tab-focus-icon-color);
        }

        .tab__presentation__text {
          color: var(--md-primary-tab-focus-label-text-color)
        }
      }
    }

    &.primary-tab--hover {
      .tab__presentation {
        .tab__presentation__icon {
          color: var(--md-primary-tab-hover-icon-color);
        }

        .tab__presentation__text {
          color: var(--md-primary-tab-hover-label-text-color)
        }
      }
    }

    &.primary-tab--pressed {
      .tab__presentation {
        .tab__presentation__icon {
          color: var(--md-primary-tab-pressed-icon-color);
        }

        .tab__presentation__text {
          color: var(--md-primary-tab-pressed-label-text-color)
        }
      }
    }

    &.primary-tab--active {
      @include ripple.theme((
        hover-color: var(--md-primary-tab-active-hover-state-layer-color),
        pressed-color: var(--md-primary-tab-active-pressed-state-layer-color)
      ));

      &.primary-tab--focus {
        .tab__presentation {
          .tab__presentation__icon {
            color: var(--md-primary-tab-active-focus-icon-color);
          }

          .tab__presentation__text {
            color: var(--md-primary-tab-active-focus-label-text-color)
          }
        }
      }

      &.primary-tab--hover {
        .tab__presentation {
          .tab__presentation__icon {
            color: var(--md-primary-tab-active-hover-icon-color);
          }

          .tab__presentation__text {
            color: var(--md-primary-tab-active-hover-label-text-color)
          }
        }
      }

      &.primary-tab--pressed {
        .tab__presentation {
          .tab__presentation__icon {
            color: var(--md-primary-tab-active-pressed-icon-color);
          }

          .tab__presentation__text {
            color: var(--md-primary-tab-active-pressed-label-text-color)
          }
        }
      }
    }
  }
}