@mixin theme($tokens) {

}

@mixin styles() {
  .select {
    position: relative;
    cursor: text;
    min-width: 210px;

    .menu {
      inline-size: 100%;
    }

    .nd-field {
      .nd-container__content {
        opacity: 0;

        label.nd-select__label {

        }

        input.nd-select__input {
          opacity: 0;
          position: absolute;
          inset: 0;
        }
      }

      &.populated {
        .nd-container__middle {
          .nd-container__content {
            opacity: 1;
          }
        }
      }
    }
  }
}