@use "../builder/tokens-builder";
@use "../tokens";

.nd-elevated-button {
  --md-elevation-level: 1;
  @include tokens-builder.tokens(tokens.md-comp-elevated-button-values(), elevated-button);
  background: var(--_container-color);
  position: relative;
}