@use "sass:map";
@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-switch";
@use "../../Outline/internal/outline";
@use "../../tokens/md-sys-motion";
@use "../../Ripple/internal/ripple";

$easing-standard: map.get(md-sys-motion.values(), 'easing-standard');

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-switch.$supported-tokens, switch);
}

@mixin styles() {
  .nd-switch {
    @include tokens-builder.tokens(md-comp-switch.values(), switch);
    @include ripple.theme((
      hover-color: var(--md-switch-hover-ripple-color),
      pressed-color: var(--md-switch-pressed-ripple-color),
      hover-opacity: var(--md-switch-hover-ripple-opacity),
      pressed-opacity: var(--md-switch-pressed-ripple-opacity)
    ));
    @include outline.theme((
      width: var(--md-switch-track-outline-width),
      color: var(--md-switch-track-outline-color)
    ));

    position: relative;
    border: none;
    outline: none;
    border-radius: var(--md-switch-track-shape);
    block-size: var(--md-switch-track-height);
    inline-size: var(--md-switch-track-width);
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background-color: var(--md-switch-track-color);
    }

    .switch__checkbox {
      position: absolute;
      block-size: 100%;
      inline-size: 100%;
      opacity: 0;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      z-index: 10;
    }


    .switch__handle-container {
      position: relative;
      border-radius: var(--md-switch-track-shape);
      transition: margin 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      display: flex;
      justify-content: center;
      align-items: center;

      .switch__handle__state {
        position: absolute;
        block-size: var(--md-switch-ripple-size);
        inline-size: var(--md-switch-ripple-size);
        border-radius: var(--md-switch-ripple-shape);
      }

      .switch__handle {
        block-size: var(--md-switch-handle-height);
        inline-size: var(--md-switch-handle-width);
        position: relative;
        border-radius: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: center;
        transition-property: block-size, inline-size;
        transition-duration: 250ms, 250ms;
        transition-timing-function: $easing-standard, $easing-standard;


        &::before {
          content: '';
          transition: background-color 67ms linear;
          position: absolute;
          inset: 0;
          border-radius: inherit;
          background-color: var(--md-switch-handle-color);
          z-index: -1;
        }

        &.with-selected-icon {
          block-size: var(--md-switch-with-icon-handle-height);
          inline-size: var(--md-switch-with-icon-handle-width);
        }

        &.with-unchecked-icon {
          block-size: var(--md-switch-with-icon-handle-height);
          inline-size: var(--md-switch-with-icon-handle-width);
        }
      }

      .switch__handle, .switch__handle > * {
        color: var(--md-switch-icon-color);
        font-size: var(--md-switch-icon-size);
      }
    }

    &:not(.switch--disabled):focus-visible {
      @include outline.theme((
        color: var(--md-switch-focus-track-outline-color)
      ));

      &::before {
        background-color: var(--md-switch-focus-track-color);
      }

      .switch__handle {
        background-color: var(--md-switch-focus-handle-color);
      }

      .switch__handle, .switch__handle > * {
        color: var(--md-switch-focus-icon-color);
      }
    }

    &:not(.switch--disabled):hover {
      @include outline.theme((
        color: var(--md-switch-hover-track-outline-color)
      ));

      &::before {
        background-color: var(--md-switch-hover-track-color);
      }

      .switch__handle {
        background-color: var(--md-switch-hover-handle-color);
      }

      .switch__handle, .switch__handle > * {
        color: var(--md-switch-hover-icon-color);
      }
    }

    &:not(.switch--disabled):active {
      @include outline.theme((
        color: var(---pressed-track-outline-color)
      ));

      &::before {
        background-color: var(--md-switch-pressed-track-color);
      }

      .switch__handle {
        block-size: var(--md-switch-pressed-handle-height);
        inline-size: var(--md-switch-pressed-handle-width);
        transition-timing-function: linear;
        transition-duration: 100ms;

        &::before {
          background-color: var(--md-switch-pressed-handle-color);
        }
      }

      .switch__handle, .switch__handle > * {
        color: var(--md-switch-pressed-icon-color);
      }
    }

    $margin: calc(var(--md-switch-track-width) - var(--md-switch-track-height));

    &.switch--unchecked {
      .switch__handle-container {
        margin-inline-end: $margin;
      }
    }

    &.switch--checked {
      @include outline.theme((
        color: transparent
      ));

      &::before {
        background-color: var(--md-switch-selected-track-color);
      }

      .switch__handle-container {
        margin-inline-start: $margin;
      }

      .switch__handle {
        block-size: var(--md-switch-selected-handle-width);
        inline-size: var(--md-switch-selected-handle-height);
        font-size: var(--md-switch-selected-icon-size);

        &::before {
          background-color: var(--md-switch-selected-handle-color);
        }
      }

      .switch__handle, .switch__handle > * {
        color: var(--md-switch-selected-icon-color);
      }

      &:not(.switch--disabled):focus-visible {
        &::before {
          background-color: var(--md-switch-selected-focus-track-color);
        }

        .switch__handle {
          background-color: var(--md-switch-selected-focus-handle-color);
        }

        .switch__handle, .switch__handle > * {
          color: var(--md-switch-selected-focus-icon-color);
        }
      }

      &:not(.switch--disabled):hover {
        &::before {
          background-color: var(--md-switch-selected-hover-track-color);
        }

        .switch__handle {
          background-color: var(--md-switch-selected-hover-handle-color);
        }

        .switch__handle, .switch__handle > * {
          color: var(--md-switch-selected-hover-icon-color);
        }
      }

      &:not(.switch--disabled):active {
        &::before {
          background-color: var(--md-switch-selected-pressed-track-color);
        }

        .switch__handle {
          block-size: var(--md-switch-pressed-handle-height);
          inline-size: var(--md-switch-pressed-handle-width);
          transition-timing-function: linear;
          transition-duration: 100ms;

          &::before {
            background-color: var(--md-switch-selected-pressed-handle-color);
          }
        }

        .switch__handle, .switch__handle > * {
          color: var(--md-switch-selected-pressed-icon-color);
        }
      }
    }

    &.switch--disabled {
      @include outline.theme((
        color: var(--md-switch-disabled-track-outline-color),
        opacity: var(--md-switch-disabled-track-opacity)
      ));

      &::before {
        background-color: var(--md-switch-disabled-track-color);
        opacity: var(--md-switch-disabled-track-opacity)
      }

      .switch__handle-container {

        .switch__handle {
          &::before {
            opacity: var(--md-switch-disabled-handle-opacity);
            background-color: var(--md-switch-disabled-handle-color);
          }
        }

        .switch__handle, .switch__handle > * {
          color: var(--md-switch-disabled-icon-color)
        }

        .switch__handle > * {
          opacity: var(--md-switch-disabled-icon-opacity);
        }
      }

      &.switch--checked {
        @include outline.theme((
          color: transparent
        ));

        &::before {
          background-color: var(--md-switch-disabled-selected-track-color);
        }

        .switch__handle-container {
          .switch__handle {

            &::before {
              background-color: var(--md-switch-disabled-selected-handle-color);
              opacity: var(--md-switch-disabled-selected-handle-opacity);
            }
          }

          .switch__handle, .switch__handle > * {
            color: var(--md-switch-disabled-selected-icon-color)
          }

          .switch__handle > * {
            opacity: var(--md-switch-disabled-selected-icon-opacity);
          }
        }
      }
    }
  }
}