@use "../tokens";
@use "../builder/tokens-builder";
@use "../builder/background";
@use "../Elevation/internal/elevation";

.nd-menu {
  @include tokens-builder.tokens(tokens.md-comp-menu-values(), menu);
  @include elevation.theme((
    level: var(--_container-elevation),
    shadow-color: var(--_container-shadow-color)
  ));
  position: absolute;
  border-radius: 4px;
  padding: 0;
  list-style: none;
  background-color: var(--_container-color);
  display: none;

  &.open {
    display: block;
  }
}

.nd-menu-item__container {

}