@use "../tokens";
@use "../builder/tokens-builder";

.nd-menu-item-container {
  @include tokens-builder.tokens(tokens.md-comp-menu-item-values(), menu-item);

  .nd-menu-item__label {
    display: flex;
    align-items: center;
    text-align: left;
    block-size: 100%;
  }
}