@use "../tokens";
@use "../builder/tokens-builder";
@use "../builder/background";
@use "../Elevation/internal/elevation";

.nd-menu {
  @include tokens-builder.tokens(tokens.md-comp-menu-values(), menu);
  @include elevation.theme((
    level: var(--_container-elevation),
    shadow-color: var(--_container-shadow-color)
  ));
  @include background.styles;
  position: absolute;
  border-radius: 4px;
  padding: 0;
  list-style: none;
  opacity: 0;

  &.suspending {
    display: none;
  }

  &.open {
    display: block;
    opacity: 1;
  }
}