@use "../tokens";
@use "../builder/tokens-builder";
@use "../builder/background";
@use "../Elevation/internal/elevation";

.nd-sub-menu {
  @include tokens-builder.tokens(tokens.md-comp-menu-values(), sub-menu);
  @include elevation.theme((
    level: var(--_container-elevation),
    shadow-color: var(--_container-shadow-color)
  ));
  position: relative;

  .nd-sub-menu__header {
    &.selected {
      --_container-color: #e8def8;
      @include background.styles;
    }
  }
}