@use "sass:map";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";

@mixin styles($colors, $comp:"") {
  @include background.theme((
    opacity: 1,
    color: map.get($colors, 'container-color')
  ), $comp);

  @include ripple.theme((
    hover-color: map.get($colors, hover-ripple-color),
    hover-opacity: var(--md-#{#comp}-hover-state-layer-opacity),
    pressed-color: map.get($colors, pressed-ripple-color),
    pressed-opacity: var(--md-#{#comp}-pressed-state-layer-opacity)
  ));

  @include background.styles($comp);

  &:focus {
    .nd-fab__icon-slot {
      color: map.get($colors, focus-icon-color);
    }

    .nd-fab__label-slot {
      color: map.get($colors, focus-label-text-color);
    }
  }

  &:hover {
    .nd-fab__icon-slot {
      color: map.get($colors, hover-icon-color);
    }

    .nd-fab__label-slot {
      color: map.get($colors, hover-label-text-color);
    }
  }

  &:active {
    .nd-fab__icon-slot {
      color: map.get($colors, pressed-icon-color);
    }

    .nd-fab__label-slot {
      color: map.get($colors, pressed-label-text-color);
    }
  }
}