@use "sass:map";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";

@mixin styles($colors) {
  @include background.theme((
    opacity: 1,
    color: map.get($colors, 'container-color')
  ));

  @include ripple.theme((
    hover-color: map.get($colors, hover-state-layer-color),
    hover-opacity: var(--_hover-state-layer-opacity),
    pressed-color: map.get($colors, pressed-state-layer-color),
    pressed-opacity: var(--_pressed-state-layer-opacity)
  ));

  &:focus {
    .nd-fab__icon-slot {
      color: map.get($colors, focus-icon-color);
    }

    .nd-fab__label-slot {
      color: map.get($colors, focus-label-text-color);
    }
  }

  &:hover {
    .nd-fab__icon-slot {
      color: map.get($colors, hover-icon-color);
    }

    .nd-fab__label-slot {
      color: map.get($colors, hover-label-text-color);
    }
  }

  &:active {
    .nd-fab__icon-slot {
      color: map.get($colors, pressed-icon-color);
    }

    .nd-fab__label-slot {
      color: map.get($colors, pressed-label-text-color);
    }
  }
}