@use "../../tokens/md-comp-fab-branded";
@use "../../builder/tokens-builder";
@use "shared";

$tokens: md-comp-fab-branded.values();

@mixin styles() {
  @include tokens-builder.tokens($tokens, branded-fab);

  // Support logical shape properties
  --md-branded-fab-container-shape-start-start: var(--md-branded-fab-container-shape);
  --md-branded-fab-container-shape-start-end:  var(--md-branded-fab-container-shape);
  --md-branded-fab-container-shape-end-end: var(--md-branded-fab-container-shape);
  --md-branded-fab-container-shape-end-start:  var(--md-branded-fab-container-shape);
  --md-branded-fab-large-container-shape-start-start:  var(--md-branded-fab-large-container-shape);
  --md-branded-fab-large-container-shape-start-end: var(--md-branded-fab-large-container-shape);
  --md-branded-fab-large-container-shape-end-end: var(--md-branded-fab-large-container-shape);
  --md-branded-fab-large-container-shape-end-start: var(--md-branded-fab-large-container-shape);
  min-inline-size: var(--md-branded-fab-container-width);
  @include shared.styles(branded-fab);

  .nd-fab__button {
    padding-inline-start: 16px;
    padding-inline-end: 20px;
  }
}