@use "../../tokens/md-comp-fab";
@use "../../builder/tokens-builder";

@use "color";
@use "shared";

$tokens: md-comp-fab.values();

@mixin styles() {
  @include tokens-builder.tokens($tokens, fab);

  --_container-shape-start-start: var(--md-fab-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-fab-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-fab-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-fab-container-shape-end-start, var(--_container-shape));
  --_large-container-shape-start-start: var(--md-fab-large-container-shape-start-start, var(--_large-container-shape));
  --_large-container-shape-start-end: var(--md-fab-large-container-shape-start-end, var(--_large-container-shape));
  --_large-container-shape-end-end: var(--md-fab-large-container-shape-end-end, var(--_large-container-shape));
  --_large-container-shape-end-start: var(--md-fab-large-container-shape-end-start, var(--_large-container-shape));
  --_small-container-shape-start-start: var(--md-fab-small-container-shape-start-start, var(--_small-container-shape));
  --_small-container-shape-start-end: var(--md-fab-small-container-shape-start-end, var(--_small-container-shape));
  --_small-container-shape-end-end: var(--md-fab-small-container-shape-end-end, var(--_small-container-shape));
  --_small-container-shape-end-start: var(--md-fab-small-container-shape-end-start, var(--_small-container-shape));

  inline-size: var(--_container-width);
  @include shared.styles;
}

