@use "../../tokens/md-comp-fab-branded";
@use "../../builder/tokens-builder";
@use "shared";

$tokens: md-comp-fab-branded.values();

@mixin styles() {
  @include tokens-builder.tokens($tokens, fab);
  @include shared.styles;

  // Support logical shape properties
  --_container-shape-start-start: var(--md-fab-branded-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-fab-branded-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-fab-branded-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-fab-branded-container-shape-end-start, var(--_container-shape));
  --_large-container-shape-start-start: var(--md-fab-branded-large-container-shape-start-start, var(--_large-container-shape));
  --_large-container-shape-start-end: var(--md-fab-branded-large-container-shape-start-end, var(--_large-container-shape));
  --_large-container-shape-end-end: var(--md-fab-branded-large-container-shape-end-end, var(--_large-container-shape));
  --_large-container-shape-end-start: var(--md-fab-branded-large-container-shape-end-start, var(--_large-container-shape));
  min-inline-size: var(--_container-width);

  .nd-fab__button {
    padding-inline-start: 16px;
    padding-inline-end: 20px;
  }
}