@use "./internal/list-item";
@use "../Ripple/internal/ripple";

@include list-item.styles;

.list-item {
  @include ripple.theme((
    hover-color: var(--md-list-item-hover-state-layer-color),
    hover-opacity: var(--md-list-item-hover-state-layer-opacity),
    pressed-color: var(--md-list-item-pressed-state-layer-color),
    pressed-opacity: var(--md-list-item-pressed-state-layer-opacity)
  ));

  &.disabled{
    opacity: var(--md-list-item-disabled-opacity);
  }
}