@use "./internal/list-item";
@use "../StateLayer/internal/state-layer";

@include list-item.styles;

.list-item{
  @include state-layer.theme((
    hover-color: var(--_hover-state-layer-color),
    hover-opacity: var(--_hover-state-layer-opacity),
    pressed-color: var(--_pressed-state-layer-color),
    pressed-opacity: var(--_pressed-state-layer-opacity)
  ));

  &.disabled{
    opacity: var(--_disabled-opacity);
  }
}