@use "./shared";
@use "./toggled";
@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-filled-icon-button";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Focus/internal/focus-ring";
@use "./state";

$tokens: md-comp-filled-icon-button.values();

@mixin styles() {
  @include tokens-builder.tokens($tokens, filled-icon-button);
  @include ripple.theme((
    hover-color: var(--md-filled-icon-button-hover-state-layer-color),
    hover-opacity: var(--md-filled-icon-button-hover-state-layer-opacity),
    pressed-color: var(--md-filled-icon-button-pressed-state-layer-color),
    pressed-opacity: var(--md-filled-icon-button-hover-state-layer-opacity),
  ));
  --md-filled-icon-button-container-shape-start-start: var(--md-filled-icon-button-container-shape);
  --md-filled-icon-button-container-shape-start-end: var(--md-filled-icon-button-container-shape);
  --md-filled-icon-button-container-shape-end-end: var(--md-filled-icon-button-container-shape);
  --md-filled-icon-button-container-shape-end-start: var(--md-filled-icon-button-container-shape);
  @include background.theme((
    color: var(--md-filled-icon-button-container-color),
    opacity: 1
  ), filled-icon-button);
  @include focus-ring.theme((
    shape-start-start: var(--md-filled-icon-button-container-shape-start-start),
    shape-start-end: var(--md-filled-icon-button-container-shape-start-end),
    shape-end-start: var(--md-filled-icon-button-container-shape-end-start),
    shape-end-end: var(--md-filled-icon-button-container-shape-end-end),
  ));
  @include shared.styles(filled-icon-button);
  @include background.styles(filled-icon-button);
  @include toggled.styles(filled-icon-button);
  @include state.styles(filled-icon-button);
}