@use "./shared";
@use "./toggled";
@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-filled-icon-button";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Focus/internal/focus-ring";
@use "./state";

$tokens: md-comp-filled-icon-button.values();

@mixin styles() {
  @include tokens-builder.tokens($tokens, icon-button);
  @include ripple.theme((
    hover-color: var(--_hover-state-layer-color),
    hover-opacity: var(--_hover-state-layer-opacity),
    pressed-color: var(--_pressed-state-layer-color),
    pressed-opacity: var(--_hover-state-layer-opacity),
  ));
  --_container-shape-start-start: var(--md-filled-icon-button-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-filled-icon-button-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-filled-icon-button-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-filled-icon-button-container-shape-end-start, var(--_container-shape));
  @include background.theme((
    color: var(--_container-color),
    opacity: 1
  ));
  @include focus-ring.theme((
    shape-start-start: var(--_container-shape-start-start),
    shape-start-end: var(--_container-shape-start-end),
    shape-end-start: var(--_container-shape-end-start),
    shape-end-end: var(--_container-shape-end-end),
  ));
  @include shared.styles;
  @include background.styles;
  @include state.styles;
  @include toggled.styles;
}