@use "shared";
@use "toggled";
@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-icon-button";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Focus/internal/focus-ring";
@use "./state";

$tokens: md-comp-icon-button.values();

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, md-comp-icon-button.$supported-tokens, icon-button);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, icon-button);
  @include ripple.theme((
    hover-color: var(--_hover-state-layer-color),
    pressed-color: var(--_pressed-state-layer-color)
  ));
  --_container-shape-start-start: var(--md-icon-button-container-shape-start-start, var(--_state-layer-shape));
  --_container-shape-start-end: var(--md-icon-button-container-shape-start-end, var(--_state-layer-shape));
  --_container-shape-end-end: var(--md-icon-button-container-shape-end-end, var(--_state-layer-shape));
  --_container-shape-end-start: var(--md-icon-button-container-shape-end-start, var(--_state-layer-shape));
  --_toggle-selected-icon-color: var(--md-icon-button-toggle-selected-icon-color, var(--_selected-icon-color));
  --_toggle-selected-hover-icon-color: var(--md-icon-button-toggle-selected-hover-icon-color, var(--_selected-hover-icon-color));
  --_toggle-selected-focus-icon-color: var(--md-icon-button-toggle-selected-focus-icon-color, var(--_selected-focus-icon-color));
  --_toggle-selected-pressed-icon-color: var(--md-icon-button-toggle-selected-focus-icon-color, var(--_selected-pressed-icon-color));
  --_toggle-selected-hover-state-layer-color: var(--md-icon-button-toggle-hover-state-layer-color, var(--_selected-hover-state-layer-color));
  --_toggle-selected-pressed-state-layer-color: var(--md-icon-button-toggle-pressed-state-layer-color, var(--_selected-pressed-state-layer-color));
  --_container-height: var(--md-icon-button-container-height, var(--_state-layer-height));
  --_container-width: var(--md-icon-button-container-width, var(--_state-layer-width));
  @include focus-ring.theme((
    shape-start-start: var(--_container-shape-start-start),
    shape-start-end: var(--_container-shape-start-end),
    shape-end-start: var(--_container-shape-end-start),
    shape-end-end: var(--_container-shape-end-end),
  ));
  @include shared.styles;
  @include background.styles;
  @include state.styles;
  @include toggled.styles;
}