@use "../../Elevation/internal/elevation";
@use "../../Focus/internal/focus-ring";
@use "../../builder/tokens-builder";
@use "../../builder/forbidden-highlight";

$support-tokens: (
  'icon-color',
  'opacity'
);

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, $support-tokens, icon-button);
}

@mixin styles() {
  & {
    position: relative;
    display: inline-block;
    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
    z-index: 10;
    inline-size: var(--_container-width);
    block-size: var(--_container-height);

    .nd-icon-button__button {
      display: inline-flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      outline: none;
      block-size: 100%;
      inline-size: 100%;
      padding: 0;
      border-radius: inherit;
      box-sizing: border-box;
      cursor: pointer;
      @include forbidden-highlight.no-highlight;

      .nd-icon-button__icon-slot,
      .nd-icon-button__icon-slot > * {
        fill: var(--_icon-color);
        color: var(--_icon-color);
        font-size: var(--_icon-size);
        block-size: var(--_icon-size);
        inline-size: var(--_icon-size);
        opacity: var(--md-icon-button-opacity, 1);
      }
    }
  }
}