@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-badge";

@mixin styles() {
  .nd-badge-container {
    @include tokens-builder.tokens(md-comp-badge.values(), badge);
    position: relative;
    display: inline-flex;
    cursor: default;
  }

  .nd-badge {
    position: absolute;
    display: inline-flex;
    border-radius: var(--_shape);
    background-color: var(--_color);
    transition: opacity 150ms linear;
    inset-inline-end: 0;
    inset-block-start: 0;

    &.small {
      block-size: var(--_size);
      inline-size: var(--_size);
    }

    &.large {
      direction: rtl;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      block-size: var(--_large-size);
      min-inline-size: var(--_large-size);
      max-inline-size: 34px;
      font-size: var(--_large-label-text-size);
      color: var(--_large-label-text-color);
      font-family: var(--_large-label-text-font);
      line-height: var(--_large-label-text-line-height);
      font-weight: var(--_large-label-text-weight);
      white-space: nowrap;
      overflow: hidden;
      padding-inline: calc(var(--_large-size) / 4);
      inset-block-start: -2px;
      inset-inline-start: 100%;
      transform: translateX(12px);
    }

    &.hidden {
      opacity: 0;
    }
  }
}