@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-badge";

@mixin styles() {
  .nd-badge-container {
    @include tokens-builder.tokens(md-comp-badge.values(), badge);
    position: relative;
    display: inline-flex;
    cursor: default;
  }

  .nd-badge {
    position: absolute;
    display: inline-flex;
    border-radius: var(--md-badge-shape);
    background-color: var(--md-badge-color);
    transition: opacity 150ms linear;


    &.nd-badge--small {
      block-size: var(--md-badge-size);
      inline-size: var(--md-badge-size);
      inset-inline-end: 0;
      inset-block-start: 0;
    }

    &.nd-badge--large {
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      block-size: var(--md-badge-large-size);
      min-inline-size: var(--md-badge-large-size);
      max-inline-size: 34px;
      font-size: var(--md-badge-large-label-text-size);
      color: var(--md-badge-large-label-text-color);
      font-family: var(--md-badge-large-label-text-font), serif;
      line-height: var(--md-badge-large-label-text-line-height);
      font-weight: var(--md-badge-large-label-text-weight);
      white-space: nowrap;
      overflow: hidden;
      padding-inline: calc(var(--md-badge-large-size) / 4);
      inset-block-start: -2px;
      inset-inline-start: 50%;
    }

    &.nd-badge--hidden {
      opacity: 0;
    }
  }
}