@use "./internal/focus-ring";

.nd-focus-ring-container {
  @include focus-ring.theme(());
  position: absolute;
  inset: 0;
  display: flex;
  outline: none;
  z-index: -1;

  .nd-focus-ring{
    @include focus-ring.styles;
  }
}