@use "./internal/focus-ring";

.nd-focus-ring-container {
  position: relative;
  border-radius: inherit;
  inset: 0;
  display: flex;
  outline: none;
  z-index: -1;

  .nd-focus-ring {
    @include focus-ring.styles;
    border-radius: inherit;
  }
}