@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-elevated-card";
@use "./shared";

$tokens: md-comp-elevated-card.values();
$supported-tokens: md-comp-elevated-card.$supported-tokens;

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, $supported-tokens, elevated-card);
}

@mixin styles() {
  .nd-elevated-card {
    @include tokens-builder.tokens($tokens, elevated-card);
    --_container-shape-start-start: var(--_md-elevated-card-container-shape-start-start, var(--_container-shape));
    --_container-shape-start-end: var(--_md-elevated-card-container-shape-start-end, var(--_container-shape));
    --_container-shape-end-start: var(--_md-elevated-card-container-shape-end-start, var(--_container-shape));
    --_container-shape-end-end: var(--_md-elevated-card-container-shape-end-end, var(--_container-shape));
    @include shared.styles;
  }
}