@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-elevated-card";
@use "./shared";

$tokens: md-comp-elevated-card.values();
$supported-tokens: md-comp-elevated-card.$supported-tokens;

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, $supported-tokens, elevated-card);
}

@mixin styles() {
  .nd-elevated-card {
    @include tokens-builder.tokens($tokens, elevated-card);
    --md-elevated-card-container-shape-start-start: var(--md-elevated-card-container-shape);
    --md-elevated-card-container-shape-start-end: var(--md-elevated-card-container-shape);
    --md-elevated-card-container-shape-end-start: var(--md-elevated-card-container-shape);
    --md-elevated-card-container-shape-end-end: var(--md-elevated-card-container-shape);
    @include shared.styles(elevated-card);
  }
}