@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-filled-card";
@use "./shared";

$tokens: md-comp-filled-card.values();
$supported-tokens: md-comp-filled-card.$supported-tokens;

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, $supported-tokens, filled-card);
}

@mixin styles() {
  .nd-filled-card {
    @include tokens-builder.tokens($tokens, filled-card);
    --md-filled-card-container-shape-start-start: var(--md-filled-card-container-shape);
    --md-filled-card-container-shape-start-end: var(--md-filled-card-container-shape);
    --md-filled-card-container-shape-end-start: var(--md-filled-card-container-shape);
    --md-filled-card-container-shape-end-end: var(--md-filled-card-container-shape);
    @include shared.styles(filled-card);
  }
}