@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-outlined-card";
@use "./card";

$tokens: md-comp-outlined-card.values();
$supported-tokens: md-comp-outlined-card.$supported-tokens;

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, $supported-tokens, outlined-card);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, outlined-card);
  --_container-shape-start-start: var(--_md-outlined-card-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--_md-outlined-card-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-start: var(--_md-outlined-card-container-shape-end-start, var(--_container-shape));
  --_container-shape-end-end: var(--_md-outlined-card-container-shape-end-end, var(--_container-shape));
  @include card.styles;
}