@use "../../builder/background";
@use "../../Elevation/internal/elevation";
@use "../../Ripple/internal/ripple";

@mixin styles($comp:"") {
  @include background.theme((
    opacity: 1,
    z-index: -1,
    color: var(--md-#{$comp}-container-color),
  ), $comp);
  @include elevation.theme((
    level: var(--md-#{$comp}-container-elevation),
    shadow-color: var(--md-#{$comp}-container-shadow-color)
  ));
  @include ripple.theme((
    hover-color:var(--md-#{$comp}-hover-state-layer-color),
    hover-opacity: var(--md-#{$comp}-hover-state-layer-opacity),
    pressed-color: var(--md-#{$comp}-pressed-state-layer-color),
    pressed-opacity: var(--md-#{$comp}-pressed-state-layer-opacity)
  ));
  @include background.styles($comp);

  position: relative;
  display: block;
  border-start-start-radius: var(--md-#{$comp}-container-shape-start-start);
  border-start-end-radius: var(--md-#{$comp}-container-shape-start-end);
  border-end-start-radius: var(--md-#{$comp}-container-shape-end-start);
  border-end-end-radius: var(--md-#{$comp}-container-shape-end-end);
  z-index: 10;
  min-block-size: 50px;
  min-inline-size: 50px;

  .nd-card-content {
    border-radius: inherit;
    position: relative;
    min-block-size: inherit;
    display: block;
    border: inherit;
    //overflow: auto;
  }

  &:not(.nd-card--static):focus-visible {
    @include background.theme((
      color: var(--md-#{$comp}-focus-state-layer-color),
      opacity: var(--md-#{$comp}-focus-state-layer-opacity)
    ), $comp);
    @include elevation.theme((
      level: var(--md-#{$comp}-focus-container-elevation),
    ));
  }

  &:not(.nd-card--static):hover {
    @include elevation.theme((
      level: var(--md-#{$comp}-hover-container-elevation),
    ));
  }

  &:not(.nd-card--static):active {
    @include elevation.theme((
      level: var(--md-#{$comp}-pressed-container-elevation),
    ));
  }

  &.nd-dragged {
    @include elevation.theme((
      level: var(--md-#{$comp}-dragged-container-elevation),
    ));
    @include background.theme((
      color: var(--md-#{$comp}-dragged-state-layer-color),
      opacity: var(--md-#{$comp}-dragged-state-layer-opacity)
    ), $comp);
  }

  &.nd-disabled {
    @include elevation.theme((
      level: var(--md-#{$comp}-disabled-container-elevation),
    ));
    @include background.theme((
      color: var(--md-#{$comp}-disabled-container-color),
      opacity: var(--md-#{$comp}-disabled-container-opacity)
    ), $comp);
  }
}