@use "../../builder/background";
@use "../../Elevation/internal/elevation";
@use "../../Ripple/internal/ripple";

@mixin styles() {
  @include background.theme((
    color: var(--_container-color)
  ));
  @include elevation.theme((
    level: var(--_container-elevation),
    shadow-color: var(--_container-shadow-color)
  ));
  @include ripple.theme((
    hover-color:var(--_hover-state-layer-color),
    pressed-color: var(--_pressed-state-layer-color)
  ));
  @include background.styles;

  position: relative;
  border-start-start-radius: var(--_container-shape-start-start);
  border-start-end-radius: var(--_container-shape-start-end);
  border-end-start-radius: var(--_container-shape-end-start);
  border-end-end-radius: var(--_container-shape-end-end);
  z-index: 10;

  .nd-card-content {
    border-radius: inherit;
    position: relative;
    block-size: 100%;
    inline-size: 100%;
    overflow: auto;
  }

  &:not(.nd-card--static):focus-visible {
    @include background.theme((
      color: var(--_focus-state-layer-color),
      opacity: var(--_focus-state-layer-opacity)
    ));
    @include elevation.theme((
      level: var(--_focus-container-elevation),
    ));
  }

  &:not(.nd-card--static):hover {
    @include elevation.theme((
      level: var(--_hover-container-elevation),
    ));
  }

  &:not(.nd-card--static):active {
    @include elevation.theme((
      level: var(--_pressed-container-elevation),
    ));
  }

  &.nd-dragged {
    @include elevation.theme((
      level: var(--_dragged-container-elevation),
    ));
    @include background.theme((
      color: var(--_dragged-state-layer-color),
      opacity: var(--_dragged-state-layer-opacity)
    ))
  }

  &.nd-disabled {
    @include elevation.theme((
      level: var(--_disabled-container-elevation),
    ));
    @include background.theme((
      color: var(--_disabled-container-color),
      opacity: var(--_disabled-container-opacity)
    ))
  }
}