@use "../../Elevation/internal/elevation";
@use "../../tokens/md-comp-menu";
@use "../../builder/tokens-builder";

@mixin theme($tokens) {

}

@mixin styles() {
  .menu {
    @include tokens-builder.tokens(md-comp-menu.values(), menu);
    @include elevation.theme((
      level: var(--_container-elevation)
    ));
    position: absolute;
    opacity: 0;
    border-radius: var(--_container-shape);
    background: var(--_container-color);
    pointer-events: none;

    .menu__list {
      border-radius: inherit;
      list-style: none;
      padding-inline: 0;
      margin: 0;
    }

    &.hidden:not(.open) {
      display: none;
    }

    &.open {
      display: block;
      opacity: 1;
      pointer-events: auto;
    }
  }
}