@use "../../tokens/md-comp-menu-item";
@use "../../builder/tokens-builder";
@use "../../builder/background";

@mixin theme($tokens) {

}

@mixin styles() {
  .menu-item {
    @include tokens-builder.tokens(md-comp-menu-item.values(), menu-list);
    position: relative;
    cursor: pointer;
    z-index: 1;
    @include background.theme((
      color: var(--_container-color),
      opacity: 1
    ));
    @include background.styles;

    .lsc {
      .lsc__end {
        padding-inline-end: 12px;
      }
    }

    &.hidden {
      opacity: 0;
    }

    &.selected {
      @include background.theme((
        color: var(--_selected-container-color),
      ));

      .list-item__label {
        color: var(--_selected-label-text-color);
      }
    }

    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
}