@use "../../Elevation/internal/elevation";
@use "../../tokens/md-comp-menu";
@use "../../builder/tokens-builder";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-menu.$supported-tokens, menu)
}

@mixin styles() {
  .nd-menu {
    @include tokens-builder.tokens(md-comp-menu.values(), menu);
    @include elevation.theme((
      level: var(--md-menu-container-elevation)
    ));
    position: absolute;
    z-index: 10;
    opacity: 0;
    border-radius: var(--md-menu-container-shape);
    background: var(--md-menu-container-color);

    .nd-menu__list {
      border-radius: inherit;
      list-style: none;
      padding-inline: 0;
      margin: 0;
      block-size: 100%;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }
    }

    &.nd-menu--hidden {
      display: none;
      opacity: 0;
      block-size: 0;
      .menu-item {
        opacity: 0;
      }
    }

    &.nd-menu--visible {
      display: block;
      opacity: 1;
      block-size: auto;
      .menu-item {
        opacity: 1;
      }
    }
  }
}