@use 'sass:list';
@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-ripple";

$tokens: md-comp-ripple.values();
$supported-tokens: md-comp-ripple.$supported-tokens;

/**
  'hover-color',
  'hover-opacity',
  'pressed-color',
  'pressed-opacity',
 */
@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, $supported-tokens, ripple);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, ripple);
  position: relative;
  inset: 0;
  block-size: 100%;
  inline-size: 100%;
  border-radius: inherit;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  //pointer-events: none;
  //z-index: -1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0;
    pointer-events: none;
    //z-index: -1;
  }

  &::before {
    inset: 0;
    background-color: var(--md-ripple-hover-color);
    transition: opacity 15ms linear, background-color 15ms linear;
  }

  &::after {
    background: radial-gradient(closest-side, var(--md-ripple-pressed-color) max(calc(100% - 70px), 65%), transparent 100%);
    transform-origin: center center;
    transition: opacity 375ms linear;
  }

  &.hover:not(.disabled)::before {
    opacity: var(--md-ripple-hover-opacity);
  }

  &.pressed:not(.disabled)::after {
    opacity: var(--md-ripple-pressed-opacity);
    transition-duration: 105ms;
  }
}