@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-filled-button";
@use "shared";

$tokens: md-comp-filled-button.values();

@mixin theme($tokens){
  @include tokens-builder.theme($tokens, md-comp-filled-button.$supported-tokens, filled-button);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, filled-button);
  --_container-shape-start-start: var(--md-filled-button-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-filled-button-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-filled-button-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-filled-button-container-shape-end-start, var(--_container-shape));
  @include shared.styles;
}