@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-outlined-button";
@use "../../Outline/content/outline";
@use "shared";

$tokens: md-comp-outlined-button.values();

@mixin styles() {
  @include tokens-builder.tokens($tokens, outlined-button);
  @include shared.styles;
  @include outline.theme((
    color: var(--_outline-color),
    width: var(--_outline-width)
  ));

  .nd-button{

  }
}