@use "shared";
@use "toggled";
@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-filled-tonal-icon-button";
@use "../../builder/background";
@use "../../StateLayer/internal/state-layer";
@use "./state";

$tokens: md-comp-filled-tonal-icon-button.values();

@mixin styles(){
  @include tokens-builder.tokens($tokens, icon-button);
  @include state-layer.theme((
    hover-color: var(--_hover-state-layer-color),
    pressed-color: var(--_pressed-state-layer-color)
  ));
  --_container-shape-start-start: var(--md-filled-tonal-icon-button-container-shape-start-start, var(--_container-shape));
  --_container-shape-start-end: var(--md-filled-tonal-icon-button-container-shape-start-end, var(--_container-shape));
  --_container-shape-end-end: var(--md-filled-tonal-icon-button-container-shape-end-end, var(--_container-shape));
  --_container-shape-end-start: var(--md-filled-tonal-icon-button-container-shape-end-start, var(--_container-shape));

  @include shared.styles;
  @include background.styles;
  @include state.styles;
  @include toggled.styles;
}