@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "./shared";

$support-tokens: (
);

@mixin theme($tokens) {
  @include tokens-builder.tokens($tokens, $support-tokens, icon-button)
}

@mixin styles() {
  & {
    &:hover {
      @include shared.theme((
        icon-color: var(--_hover-icon-color)
      ));
    }

    &:focus {
      @include shared.theme((
        icon-color: var(--_focus-icon-color)
      ));
    }

    &:active {
      @include shared.theme((
        icon-color: var(--_pressed-icon-color)
      ));
    }

    &.disabled {
      @include background.theme((
        color: var(--_disabled-container-color),
        opacity: var(--_disabled-container-opacity)
      ));
      @include shared.theme((
        icon-color: var(--_disabled-icon-color),
        opacity: var(--_disabled-icon-opacity)
      ));
      cursor: auto;
    }
  }
}