@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "./shared";

@mixin styles() {
  &:not(.disabled).toggled {
    @include background.theme((
      color: var(--_unselected-container-color)
    ));
    @include ripple.theme((
      hover-color: var(--_toggle-hover-state-layer-color),
      pressed-color: var(--_toggle-pressed-state-layer-color)
    ));
    @include shared.theme((
      icon-color: var(--_toggle-icon-color)
    ));

    &:hover {
      @include shared.theme((
        icon-color: var(--_toggle-hover-icon-color)
      ));
    }

    &:focus {
      @include shared.theme((
        icon-color: var(--_toggle-focus-icon-color)
      ));
    }

    &:active {
      @include shared.theme((
        icon-color: var(--_toggle-pressed-icon-color)
      ));
    }

    &.selected {
      @include background.theme((
        color: var(--_selected-container-color)
      ));
      @include ripple.theme((
        hover-color: var(--_toggle-selected-hover-state-layer-color),
        pressed-color: var(--_toggle-selected-pressed-state-layer-color)
      ));
      @include shared.theme((
        icon-color: var(--_toggle-selected-icon-color)
      ));

      &:hover {
        @include shared.theme((
          icon-color: var(--_toggle-selected-hover-icon-color)
        ));
      }

      &:focus {
        @include shared.theme((
          icon-color: var(--_toggle-selected-focus-icon-color)
        ));
      }

      &:active {
        @include shared.theme((
          icon-color: var(--_toggle-selected-pressed-icon-color)
        ));
      }
    }
  }
}