@use "sass:map";
@use "../../tokens/md-comp-dialog";
@use "../../tokens/md-sys-color";
@use "../../builder/tokens-builder";
@use "../../builder/background";

$tokens: md-comp-dialog.values();
$supported-tokens: md-comp-dialog.$supported-tokens;
$md-sys-color: md-sys-color.values-light();

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, $supported-tokens, dialog)
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, dialog);
  --md-dialog-container-shape-start-start: var(--md-dialog-container-shape);
  --md-dialog-container-shape-start-end: var(--md-dialog-container-shape);
  --md-dialog-container-shape-end-end: var(--md-dialog-container-shape);
  --md-dialog-container-shape-end-start: var(--md-dialog-container-shape);
  z-index: 10;

  .nd-dialog-scrim {
    background: map.get($md-sys-color, 'scrim');
    position: fixed;
    display: none;
    inset: 0;
    opacity: 32%;

    &.nd-show {
      display: flex;
    }
  }

  .nd-dialog {
    border-start-start-radius: var(--md-dialog-container-shape-start-start);
    border-start-end-radius: var(--md-dialog-container-shape-start-end);
    border-end-end-radius: var(--md-dialog-container-shape-end-end);
    border-end-start-radius: var(--md-dialog-container-shape-end-start);
    border: none;
    outline: none;
    padding: 0;
    min-width: 240px;
    max-width: 560px;
    box-sizing: border-box;
    background: transparent;

    &::backdrop {
      background: none;
      //pointer-events: none;
    }

    .nd-dialog-container {
      @include background.theme((
        color: var(--md-dialog-container-color),
        opacity: 1
      ));
      @include background.styles;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      padding: 24px;

      .nd-dialog-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;

        .nd-dialog-header__icon {
          block-size: var(--md-dialog-icon-size);
          inline-size: var(--md-dialog-icon-size);
          color: var(--md-dialog-icon-color);
          font-size: var(--md-dialog-icon-color);
          display: contents;
        }

        .nd-dialog-header__headline,
        .nd-dialog-header__supporting-text {
          all: unset;
        }

        .nd-dialog-header__headline {
          font-family: var(--md-dialog-headline-font), serif;
          font-size: var(--md-dialog-headline-size);
          color: var(--md-dialog-headline-color);
          line-height: var(--md-dialog-headline-line-height);
          font-weight: var(--md-dialog-headline-weight);
          padding-block-start: 16px;
        }

        .nd-dialog-header__supporting-text {
          font-family: var(--md-dialog-supporting-text-font), serif;
          font-size: var(--md-dialog-supporting-text-size);
          color: var(--md-dialog-supporting-text-color);
          line-height: var(--md-dialog-supporting-text-line-height);
          font-weight: var(--md-dialog-supporting-text-weight);
          padding-block: 16px;
        }

        &.nd-with-icon {
          align-items: center;
        }
      }

      .nd-dialog-content {
        padding-block: 24px;
        opacity: 0;
      }

      .nd-dialog-actions {
        opacity: 0;

        .nd-dialog-actions__actions-slot {
          padding-block-start: 16px;
          display: flex;
          justify-content: flex-end;
          gap: 8px;
        }
      }
    }
  }

  &.quick {
    .nd-dialog-scrim {
      opacity: 0.32 !important;
    }

    .nd-dialog-container {
      .nd-dialog-header,
      .nd-dialog-content,
      .nd-dialog-actions {
        opacity: 1 !important;
      }
    }
  }
}