@use "../../tokens/_nd-comp-rich-tooltip";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";
@use "../../Elevation/internal/elevation";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, nd-comp-rich-tooltip.$supported-tokens, rich-tooltip);
}

@mixin styles() {
  .tooltip__host {
    position: absolute;
    inline-size: fit-content;
    block-size: fit-content;
    z-index: 10;
  }
  .tooltip--rich {
    @include tokens-builder.tokens(nd-comp-rich-tooltip.values(), rich-tooltip);
    @include elevation.theme((
      level: var(--md-rich-tooltip-container-elevation),
      shadow-color: var(--md-rich-tooltip-shadow-color)
    ));
    @include ripple.theme((
      hover-color: var(--md-rich-tooltip-hover-state-layer-color),
      pressed-color: var(--md-rich-tooltip-pressed-state-layer-color)
    ));
    @include background.theme((
      color: var(--md-rich-tooltip-container-color)
    ));
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    border-radius: var(--md-rich-tooltip-container-shape);
    min-inline-size: 300px;
    max-inline-size: 600px;
    @include background.styles;

    .tooltip--rich__subhead {
      font-family: var(--md-rich-tooltip-subhead-font), serif;
      line-height: var(--md-rich-tooltip-subhead-line-height);
      font-size: var(--md-rich-tooltip-subhead-font-size);
      font-weight: var(--md-rich-tooltip-subhead-font-weight);
      color: var(--md-rich-tooltip-subhead-color);
      padding: 12px 12px 4px;
    }

    .tooltip--rich__supporting-text {
      font-family: var(--md-rich-tooltip-supporting-text-font), serif;
      line-height: var(--md-rich-tooltip-supporting-text-line-height);
      font-size: var(--md-rich-tooltip-supporting-text-size);
      font-weight: var(--md-rich-tooltip-supporting-text-weight);
      color: var(--md-rich-tooltip-supporting-text-color);
      padding: 0 12px 0;
    }

    .tooltip--rich__actions {
      padding: 12px 12px 8px;
    }

    &.tooltip--rich--hidden{
      display: none;
    }

    &.tooltip--rich--visible {
      display: flex;
      opacity: 1;
    }
  }
}