@use "../builder/background";

.nd-navigation-action {
  $inline-size: 64px;
  $container-height: 32px + 12px + 12px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  inline-size: $inline-size;
  block-size: $container-height;

  .nd-navigation-action__icon {
    block-size: 24px;
    inline-size: 24px;
  }

  .nd-navigation-action__label {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1;
    padding-block-start: 8px;
    padding-block-end: 4px;
  }

  .nd-navigation-action__indicator {
    position: absolute;
    block-size: 32px;
    inline-size: $inline-size;
    border-radius: 9999px;
    top: 0;
  }

  &.nd-navigation-action--active {
    .nd-navigation-action__indicator {
      @include background.theme((
        color: #E8DEF8
      ), indicator);
      @include background.styles(indicator);
    }
  }
}