@use '../../tokens/md-comp-filled-text-field';
@use "../../builder/tokens-builder";
@use "./input-wrapper";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-filled-text-field.$supported-tokens, filled-text-field);
}

@mixin styles() {
  & {
    @include tokens-builder.tokens(md-comp-filled-text-field.values(), filled-text-field);
    cursor: text;
    position: relative;
    min-width: 210px;

    .nd-field {
      .nd-container__middle {
        .nd-container__content {
          @include input-wrapper.theme((
            font-color: var(--md-field-content-color)
          ));
          opacity: 0;
        }
      }

      &.populated {
        .nd-container__middle {
          .nd-container__content {
            opacity: 1;
          }
        }
      }
    }
  }
}