@use "../../builder/tokens-builder";

$support-tokens: (
  'font-color',
  'line-height',
  'font',
  'font-size',
  'font-weight'
);

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, $support-tokens, input-wrapper);
}

@mixin styles() {
  & {
    color: var(--md-input-wrapper-font-color, var(--_content-color));
    font-family: var(--md-input-wrapper-font, var(--_content-font)), serif;
    line-height: var(--md-input-wrapper-line-height, var(--_content-line-height));
    font-size: var(--md-input-wrapper-font-size, var(--_content-size));
    font-weight: var(--md-input-wrapper-font-weight, var(--_content-weight));
    display: flex;
    align-items: center;
    z-index: 10;

    input {
      border: none;
      outline: none;
      color: inherit;
      font-family: inherit;
      line-height: inherit;
      font-size: inherit;
      font-weight: inherit;
      background: transparent;
      padding: 0;
    }
  }
}