@use "../../tokens/md-comp-outlined-text-field";
@use "../../builder/tokens-builder";
@use "./input-wrapper";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-outlined-text-field.$supported-tokens, outlined-text-field);
}

@mixin styles() {
  & {
    cursor: text;

    .nd-field {
      .nd-container__middle {
        .nd-container__content {
          @include input-wrapper.theme((
            font-color: var(--md-field-content-color)
          ));
        }
      }

      &.populated {
        .nd-container__middle {
          .nd-container__content {
            opacity: 1;
          }
        }
      }
    }
  }
}