@use "../../tokens/md-comp-list";
@use "../../builder/tokens-builder";
@use "../../builder/background";


@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-list.$supported-tokens, list)
}

@mixin styles() {
  .nd-list {
    @include tokens-builder.tokens(md-comp-list.values(), list);
    @include background.theme((
      color: var(--md-list-container-color),
      opacity: 1
    ), list);
    @include background.styles(list);
    display: flex;
    position: relative;
    flex-direction: column;
    padding-block: 8px;
    list-style: none;
    padding-inline: 0;
    margin: 0;
    z-index: 10;
  }
}