@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-list-item";
@use "../../builder/forbidden-highlight";
@use "../../Ripple/internal/ripple";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-list-item.$supported-tokens, list-item)
}

@mixin styles() {
  .list-item {
    @include tokens-builder.tokens(md-comp-list-item.values(), list-item);
    @include ripple.theme((
      hover-color: var(--md-list-item-hover-state-layer-color),
      hover-opacity: var(--md-list-item-hover-state-layer-opacity),
      pressed-color: var(--md-list-item-pressed-state-layer-color),
      pressed-opacity: var(--md-list-item-pressed-state-layer-opacity)
    ));
    @include forbidden-highlight.no-highlight;
    position: relative;
    z-index: 10;

    .lsc {
      min-block-size: var(--md-list-item-one-line-container-height);

      .lsc__start,
      .lsc__middle,
      .lsc__end {
        padding-block-start: var(--md-list-item-top-space);
        padding-block-end: var(--md-list-item-bottom-space);
        box-sizing: border-box;
        display: flex;
        block-size: 100%;
      }

      .lsc__start,
      .lsc__end {
        align-items: center;
      }

      .lsc__start,
      .lsc__start > * {
        color: var(--md-list-item-leading-icon-color);
      }

      .lsc__end,
      .lsc__end > * {
        color: var(--md-list-item-trailing-icon-color);
      }

      .lsc__start,
      .lsc__middle {
        padding-inline-start: var(--md-list-item-leading-space);
      }

      .lsc__middle,
      .lsc__end {
        padding-inline-end: var(--md-list-item-trailing-space);
      }

      .lsc__middle {
        flex-direction: column;
        justify-content: center;

        .list-item__label {
          color: var(--md-list-item-label-text-color);
          font-family: var(--md-list-item-label-text-font), serif;
          line-height: var(--md-list-item-label-text-line-height);
          font-size: var(--md-list-item-label-text-size);
          font-weight: var(--md-list-item-label-text-weight);
          max-block-size: var(--md-list-item-label-text-line-height);
          white-space: nowrap;
        }

        .list-item__spt-txt {
          color: var(--md-list-item-supporting-text-color);
          font-family: var(--md-list-item-supporting-text-font), serif;
          line-height: var(--md-list-item-supporting-text-line-height);
          font-size: var(--md-list-item-supporting-text-size);
          font-weight: var(--md-list-item-supporting-text-weight);
          max-block-size: calc(var(--md-list-item-supporting-text-line-height) * 2);
          word-break: break-word;
          overflow: hidden;
        }
      }
    }

    &.two-line-height {
      .lsc {
        min-block-size: var(--md-list-item-two-line-container-height);
      }
    }

    &.top-layout {
      .lsc {
        .lsc__start,
        .lsc__end {
          align-items: flex-start;
        }
      }
    }
  }
}