@use "../../builder/tokens-builder";

$supporting-tokens: (
  'label-leading-space',
  'label-text-font',
  'label-text-size',
  'label-text-line-height',
  'label-text-weight',
  'top-space',
  'bottom-space',
  'populated-label-text-size',
  'populated-label-text-line-height',
  'label-text-color',
  'content-color',
  'leading-content-color',
  'trailing-content-color'
);

@mixin theme($tokens, $comp:"") {
  @include tokens-builder.theme($tokens, $supporting-tokens, $comp);
}

@mixin styles($comp:"") {
  .nd-field {
    font-family: var(--md-cust-#{$comp}-label-text-font, var(--md-#{$comp}-label-text-font)), serif;
    font-size: var(--md-cust-#{$comp}-font-text-size, var(--md-#{$comp}-label-text-size));
    line-height: var(--md-cust-#{$comp}-label-text-line-height, var(--md-#{$comp}-label-text-line-height));
    font-weight: var(--md-cust-#{$comp}-label-text-weight, var(--md-#{$comp}-label-text-weight));
    color: var(--md-cust-#{$comp}-label-text-color, var(--md-#{$comp}-label-text-color));
    min-width: inherit;
    position: relative;
    z-index: 10;

    .nd-field__label-wrapper {
      position: absolute;
      inset: 0;
      z-index: -1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      inset-block-start: 0;
      margin-inline-start: var(--md-cust-#{$comp}-label-leading-space, var(--md-#{$comp}-leading-space));


      .nd-field__label-wrapper__label.resting {
        position: absolute;
        inset-block-start: var(--md-cust-#{$comp}-top-space, var(--md-#{$comp}-top-space));
        inset-inline-start: 0;
      }

      .nd-field__label-wrapper__label.floating {
        position: absolute;
        font-size: var(--md-cust-#{$comp}-populated-label-text-size, var(--md-#{$comp}-label-text-populated-size));
        line-height: var(--md-cust-#{$comp}-populated-label-line-height, var(--md-#{$comp}-label-text-populated-line-height));
        transform-origin: top left;
      }

      .nd-field__label-wrapper__label.hidden {
        opacity: 0;
      }
    }

    .nd-container {
      min-width: inherit;

      .nd-container__start,
      .nd-container__end {
        padding-block-start: var(--md-cust-#{$comp}-top-space, var(--md-#{$comp}-top-space));
        padding-block-end: var(--md-cust-#{$comp}-bottom-space, var(--md-#{$comp}-bottom-space));
        inline-size: calc(12px + 24px);
        block-size: calc(var(--md-cust-#{$comp}-top-space, var(--md-#{$comp}-top-space)) + var(--md-#{$comp}-bottom-space, var(--md-#{$comp}-bottom-space)) + 24px);
        overflow: hidden;
      }

      .nd-container__start,
      .nd-container__start > * {
        color: var(--md-cust-#{$comp}-leading-content-color, var(--md-#{$comp}-content-color))
      }

      .nd-container__end,
      .nd-container__end > * {
        color: var(--md-cust-#{$comp}-trailing-content-color, var(--md-#{$comp}-content-color))
      }

      .nd-container__middle {
        .nd-container__content {
          color: var(--md-cust-#{$comp}-content-color, var(--md-#{$comp}-content-color));
        }
      }
    }
  }
}