@use "../../tokens/md-comp-filled-field";
@use "../../builder/background";
@use "../../builder/tokens-builder";
@use "../../Ripple/internal/ripple";
@use "./basic-field";
@use "./indicator";
@use "./supporting-text";


@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, md-comp-filled-field.$supported-tokens, filled-field);
}

@mixin styles() {
  .nd-filled-field {
    @include tokens-builder.tokens(md-comp-filled-field.values(), filled-field);
    @include background.theme((
      color: var(--md-filled-field-container-color),
      opacity: 1
    ), filled-field);
    @include ripple.theme((
      hover-color: var(--md-filled-field-hover-state-layer-color),
      hover-opacity: var(--md-filled-field-hover-state-layer-opacity),
      pressed-color: transparent,
      pressed-opacity: var(--md-filled-field-pressed-state-layer-opacity)
    ));
    @include basic-field.theme((
      leading-content-color: var(--md-filled-field-leading-content-color),
      trailing-content-color: var(--md-filled-field-trailing-content-color)
    ), filled-field);
    @include supporting-text.theme((
      color: var(--md-filled-field-supporting-text-color)
    ));

    position: relative;
    block-size: 56px;
    border-radius: var(--md-filled-field-container-shape);
    min-width: inherit;

    @include basic-field.styles(filled-field);
    @include background.styles(filled-field);

    .nd-filled-field__indicator {
      @include indicator.styles(filled-field);
    }

    .nd-field {
      block-size: 100%;

      .nd-container__start {
        padding-inline-start: 12px;
        border-start-start-radius: inherit;
      }

      .nd-container__end {
        padding-inline-end: 12px;
        border-start-end-radius: inherit;
      }

      .nd-container__middle {
        box-sizing: border-box;
        block-size: inherit;
        padding-block-start: var(--md-filled-field-top-space);
        padding-block-end: var(--md-filled-field-bottom-space);
        padding-inline-start: var(--md-filled-field-leading-space);
        padding-inline-end: var(--md-filled-field-trailing-space);
        display: flex;
        align-items: flex-end;

        .nd-field__label-wrapper {
          .nd-field__label-wrapper__label.floating {
            inset-block-start: var(--md-filled-field-with-label-top-space);
          }
        }
      }
    }

    &.with-label {
      .nd-container__middle {
        padding-block-start: var(--md-filled-field-with-label-top-space);
        padding-block-end: var(--md-filled-field-with-label-bottom-space);
      }
    }

    &.hover {
      @include indicator.theme((
        active-color: var(--md-filled-field-hover-active-indicator-color),
        active-height: var(--md-filled-field-hover-active-indicator-height)
      ), filled-field);
      @include basic-field.theme((
        content-color: var(--md-filled-field-hover-content-color),
        label-text-color: var(--md-filled-field-hover-label-text-color),
        leading-content-color: var(--md-filled-field-hover-leading-content-color),
        trailing-content-color: var(--md-filled-field-hover-supporting-text-color)
      ), filled-field);
      @include supporting-text.theme((
        color: var(--md-filled-field-hover-supporting-text-color),
      ));
    }

    &.focus {
      @include indicator.theme((
        active-color: var(--md-filled-field-focus-active-indicator-color),
        active-height: var(--md-filled-field-focus-active-indicator-height)
      ), filled-field);
      @include basic-field.theme((
        content-color: var(--md-filled-field-focus-content-color),
        label-text-color: var(--md-filled-field-focus-label-text-color),
        leading-content-color: var(--md-filled-field-focus-leading-content-color),
        trailing-content-color: var(--md-filled-field-focus-supporting-text-color)
      ), filled-field);
      @include supporting-text.theme((
        color: var(--md-filled-field-focus-supporting-text-color),
      ));
    }

    &.error {
      @include indicator.theme((
        active-color: var(--md-filled-field-error-active-indicator-color),
        inactive-color: var(--md-filled-field-error-active-indicator-color),
      ), filled-field);
      @include basic-field.theme((
        content-color: var(--md-filled-field-error-content-color),
        label-text-color: var(--md-filled-field-error-label-text-color),
        leading-content-color: var(--md-filled-field-error-leading-content-color),
        trailing-content-color: var(--md-filled-field-error-trailing-content-color)
      ), filled-field);
      @include supporting-text.theme((
        color: var(--md-filled-field-error-supporting-text-color),
      ));

      &.hover {
        @include indicator.theme((
          active-color: var(--md-filled-field-error-hover-active-indicator-color)
        ), filled-field);
        @include basic-field.theme((
          content-color: var(--md-filled-field-error-hover-content-color),
          label-text-color: var(--md-filled-field-error-hover-label-text-color),
          leading-content-color: var(--md-filled-field-error-hover-leading-content-color),
          trailing-content-color: var(--md-filled-field-error-hover-trailing-content-color)
        ), filled-field);
        @include supporting-text.theme((
          color: var(--md-filled-field-error-hover-supporting-text-color),
        ));
        @include ripple.theme((
          hover-color: var(--md-filled-field-error-hover-state-layer-color)
        ));
      }

      &.focus {
        @include indicator.theme((
          active-color: var(--md-filled-field-error-focus-active-indicator-color)
        ), filled-field);
        @include basic-field.theme((
          content-color: var(--md-filled-field-error-focus-content-color),
          label-text-color: var(--md-filled-field-error-focus-label-text-color),
          leading-content-color: var(--md-filled-field-error-focus-leading-content-color),
          trailing-content-color: var(--md-filled-field-error-focus-trailing-content-color)
        ), filled-field);
        @include supporting-text.theme((
          color: var(--md-filled-field-error-focus-supporting-text-color),
        ));
      }
    }

    &.disabled {
      @include indicator.theme((
        inactive-color: var(--md-filled-field-disabled-active-indicator-color),
        inactive-height: var(--md-filled-field-disabled-active-indicator-height)
      ), filled-field);
      @include basic-field.theme((
        content-color: var(--md-filled-field-disabled-content-color),
        label-text-color: var(--md-filled-field-disabled-label-text-color),
        leading-content-color: var(--md-filled-field-disabled-leading-content-color),
        trailing-content-color: var(--md-filled-field-disabled-trailing-content-color)
      ), filled-field);
      @include background.theme((
        color: var(--md-filled-field-disabled-container-color),
        opacity: var(--md-filled-field-disabled-container-opacity)
      ), filled-field);
      @include supporting-text.theme((
        color: var(--md-filled-field-disabled-supporting-text-color),
      ));

      .nd-filled-field__indicator {
        opacity: var(--md-filled-field-disabled-active-indicator-opacity);
      }

      .nd-field {
        .nd-container {
          .nd-container__start {
            opacity: var(--md-filled-field-disabled-leading-content-opacity);
          }

          .nd-container__middle {
            .nd-container__content {
              opacity: var(--md-filled-field-disabled-container-opacity);
            }

            .nd-field__label-wrapper {
              opacity: var(--md-filled-field-disabled-label-text-opacity);
            }
          }

          .nd-container__end {
            opacity: var(--md-filled-field-disabled-trailing-content-opacity);
          }
        }

        .nd-supporting-text {
          opacity: var(--md-filled-field-disabled-supporting-text-opacity);
        }
      }
    }

    &.show-supporting-text {
      margin-bottom: 20px;
    }
  }
}