
.nd-field {

  .nd-field__label-wrapper {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    justify-content: start;
    align-items: center;
    inset-block-start: 0;
    margin-inline-start: var(--_leading-space);

    .nd-field__label-wrapper__label{
      font-family: var(--_label-text-font);
      font-size: var(--_label-text-size);
      line-height: var(--_label-text-line-height);
      font-weight: var(--_label-text-weight);
    }

    .nd-field__label-wrapper__label.resting {
      position: absolute;
      inset-block-start: var(--_top-space);
      inset-inline-start: 0;
      color: var(--_content-color);
    }

    .nd-field__label-wrapper__label.floating {
      position: absolute;
      font-size: var(--_label-text-populated-size);
      line-height: var(--_label-text-populated-line-height);
      transform-origin: top left;
    }

    .nd-field__label-wrapper__label.hidden {
      opacity: 0;
    }

  }
}