@use "../tokens/md-comp-filled-field";
@use "../builder/background";
@use "../builder/tokens-builder";

.nd-filled-field {
  @include tokens-builder.tokens(md-comp-filled-field.values(), filled-field);
  @include background.theme((
    color: var(--_container-color)
  ));
  @include background.styles;
  position: relative;
  block-size: 56px;
  border-radius: var(--_container-shape);

  .nd-filled-field__indicator {
    position: absolute;
    inline-size: 100%;
    inset-block-end: 0;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      inset: auto 0 0 0;
      border-bottom: var(--_active-indicator-height) solid var(--_active-indicator-color);
    }

    &::after {
      content: '';
      position: absolute;
      inset: auto 0 0 0;
      opacity: 0;
      border-bottom: solid var(--_focus-active-indicator-height) var(--_focus-active-indicator-color);
    }
  }

  .nd-field {
    .nd-container__start {
      color: var(--_leading-content-color);
      padding-inline-start: 12px;
      border-start-start-radius: inherit;
    }

    .nd-container__end {
      color: var(--_trailing-content-color);
      padding-inline-end: 12px;
      border-start-end-radius: inherit;
    }

    .nd-container__middle {
      box-sizing: border-box;
      padding-block-start: var(--_top-space);
      padding-block-end: var(--_bottom-space);
      align-items: end;
      padding-inline-start: var(--_leading-space);
      padding-inline-end: var(--_trailing-space);

      .nd-container__content {
        opacity: 0;
      }

      .nd-field__label-wrapper {
        .nd-field__label-wrapper__label.floating{
          inset-block-start: var(--_with-label-top-space);
        }
      }
    }
  }

  &.with-label {
    .nd-container__middle {
      padding-block-start: var(--_with-label-top-space);
      padding-block-end: var(--_with-label-bottom-space);
    }
  }

  &.focus {
    .nd-filled-field__indicator {
      &::after {
        opacity: 1;
      }
    }
  }
}