.nd-drawer {
  position: relative;
  border-radius: inherit;
  display: none;

  &.drawer--open {
    display: block;
  }

  &.drawer--downward {
    top: 0;
  }

  &.drawer--upward {
    bottom: 0;
  }

  &.drawer--left {
    right: 0;
  }

  &.drawer--right {
    left: 0;
  }
}