@use "../../../builder/tokens-builder";

$supported-tokens: (
  'bottom-space',
  'label-text-color',
  'label-text-font',
  'label-text-line-height',
  'label-text-size',
  'label-text-weight',
  'leading-icon-color',
  'leading-space',
  'one-line-container-height',
  'supporting-text-color',
  'supporting-text-font',
  'supporting-text-line-height',
  'supporting-text-size',
  'supporting-text-weight',
  'top-space',
  'trailing-icon-color',
  'trailing-space',
  'trailing-supporting-text-color',
  'trailing-supporting-text-font',
  'trailing-supporting-text-line-height',
  'trailing-supporting-text-size',
  'trailing-supporting-text-weight',
  'two-line-container-height',
);

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, $supported-tokens, list-item)
}

@mixin styles() {
  & {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    padding-inline-start: var(--_leading-space);
    padding-inline-end: var(--_trailing-space);
    padding-block-start: var(--_top-space);
    padding-block-end: var(--_bottom-space);
    block-size: var(--_container-size);

    .nd-list-item__leading,
    .nd-list-item__trailing {
      display: none;
      justify-content: center;
      align-items: center;
    }

    .nd-list-item__content {
      display: flex;
      flex-direction: column;
      align-items: start;
      color: var(--_label-text-color);
      font-family: var(--_label-text-font);
      line-height: var(--_label-text-line-height);
      font-size: var(--_label-text-size);
      font-weight: var(--_label-text-weight);

      .nd-list-item__content__supporting-text {
        display: none;
        color: var(--_supporting-text-color);
        font-family: var(--_supporting-text-font);
        line-height: var(--_supporting-text-line-height);
        font-size: var(--_supporting-text-size);
        font-weight: var(--_supporting-text-weight);
        max-block-size: calc(var(--_supporting-text-line-height) * 2);
        overflow: hidden;
      }
    }

    .nd-list-item__trailing {
      color: var(--_trailing-supporting-text-color);
      font-family: var(--_trailing-supporting-text-font);
      line-height: var(--_trailing-supporting-text-line-height);
      font-size: var(--_trailing-supporting-text-size);
      font-weight: var(--_trailing-supporting-text-weight);
    }

    &.with-leading {
      .nd-list-item__leading {
        display: flex;
      }
    }

    &.with-trailing {
      .nd-list-item__trailing {
        display: flex;
      }
    }

    &.with-supporting-text {
      block-size: auto;

      .nd-list-item__content__supporting-text {
        display: flex;
      }
    }

    &.align-items-start {
      align-items: start;
    }

    &.without-leading-space {
      padding-inline-start: 0;
    }
  }
}