@use "../../builder/tokens-builder";

$supported-tokens: (
  'style',
  'width',
  'color',
  'opacity'
);

@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, $supported-tokens, outline)
}

@mixin styles() {
  --md-outline-style: solid;
  --md-outline-width: 1px;
  --md-outline-color: #79747E;

  position: absolute;
  display: inline-flex;
  inset: 0;
  border-style: var(--md-cust-outline-style, var(--md-outline-style));
  border-width: var(--md-cust-outline-width, var(--md-outline-width));
  border-color: var(--md-cust-outline-color, var(--md-outline-color));
  opacity: var(--md-cust-outline-opacity, var(--md-outline-opacity, 1));
  border-radius: inherit;
  z-index: -1;

  &.nd-disabled {
    opacity: 0.12;
  }
}