@use "../tokens/md-comp-filled-text-field";
@use "../builder/tokens-builder";
@use "../StateLayer/internal/state-layer";
@use "../builder/background";
@use "./content/filled-field";

$tokens: md-comp-filled-text-field.values();
$supported-tokens: md-comp-filled-text-field.$supported-tokens;

.nd-filled-text-field {
  @include tokens-builder.tokens($tokens, filled-text-field);
  @include background.theme((
    color: var(--_container-color)
  ));
  @include state-layer.theme((
    pressed-color: transparent
  ));
  position: relative;
  display: inline-flex;
  border-radius: var(--_container-shape);
  margin-block-end: 20px;
  @include filled-field.styles;
  @include background.styles();
}