.nd-outlined-text-field {
  cursor: text;
  .nd-outlined-field {
    .nd-field {

      .nd-container__middle {
        .nd-container__content {
          .nd-input-wrapper {
            color: var(--_content-color);
            font-family: var(--_content-font);
            line-height: var(--_content-line-height);
            font-size: var(--_content-size);
            font-weight: var(--_content-weight);

            input {
              border: none;
              outline: none;
              color: inherit;
              font-family: inherit;
              line-height: inherit;
              font-size: inherit;
              font-weight: inherit;
            }
          }
        }
      }

      &.populated {
        .nd-container__middle {
          .nd-container__content {
            opacity: 1;
          }
        }
      }
    }
  }
}