@use "sass:map";
@use "./md-sys-color";
@use "./md-sys-motion";
@use "./md-sys-typescale";
@use "./md-sys-shape";
@use './md-sys-state';
@use "./md-sys-elevation";

$_default: (
  color: md-sys-color.values-light(),
  shape: md-sys-shape.values(),
  typescale: md-sys-typescale.values(),
  motion: md-sys-motion.values(),
  state: md-sys-state.values(),
  elevation: md-sys-elevation.values()
);

$support-tokens: (
  'container-color',
  'container-shape',
  'container-width',
  'container-elevation',
  'label-font',
  'label-line-height',
  'label-size',
  'label-weight',
  'label-tracking',
  'active-label-text-color',
  'inactive-text-color',
  'icon-size',
  'active-icon-color',
  'inactive-icon-color',
  'menu-icon-color',
  'menu-icon-size',
  'active-indicator-color',
  'active-indicator-height',
  'no-label-active-indicator-height',
  'active-indicator-shape',
  'no-label-active-indicator-shape',
  'active-indicator-width',
  'hover-label-text-color',
  'active-hover-state-layer-color',
  'inactive-hover-state-layer-color',
  'hover-state-layer-opacity',
  'menu-hover-state-layer-color',
  'menu-hover-state-layer-opacity',
  'active-hover-icon-color',
  'inactive-hover-icon-color',
  'menu-hover-icon-color',
  'focus-label-text-color',
  'inactive-focus-label-text-color',
  'active-focus-state-layer-color',
  'inactive-focus-state-layer-color',
  'active-focus-state-layer-opacity',
  'focus-state-layer-color',
  'menu-focus-state-layer-color',
  'menu-focus-state-layer-opacity',
  'active-focus-icon-color',
  'inactive-focus-icon-color',
  'menu-focus-icon-color',
  'active-pressed-label-text-color',
  'inactive-pressed-label-text-color',
  'active-pressed-state-layer-color',
  'inactive-pressed-state-layer-color',
  'pressed-state-layer-opacity',
  'menu-pressed-state-layer-color',
  'menu-pressed-state-layer-opacity',
  'active-pressed-icon-color',
  'inactive-pressed-icon-color',
  'menu-pressed-icon-color'
);

@function values($deps: $_default, $exclude-hardcoded-values: false) {
  @return (
    'container-color': map.get($_default, 'color', 'surface'),
    'container-shape': map.get($_default, 'shape', 'corner-none'),
    'container-width': 80px,
    'container-elevation': map.get($_default, 'elevation', 'level0'),
    'label-font': map.get($_default, 'typescale', 'label-medium-font'),
    'label-line-height': map.get($_default, 'typescale', 'label-medium-line-height'),
    'label-size': map.get($_default, 'typescale', 'label-medium-size'),
    'label-weight': map.get($_default, 'typescale', 'label-medium-weight-prominen'),
    'label-tracking': map.get($_default, 'typescale', 'label-medium-tracking'),
    'active-label-text-color': map.get($_default, 'color', 'on-surface'),
    'inactive-text-color': map.get($_default, 'color', 'on-surface-variant'),
    'icon-size': 24px,
    'active-icon-color': map.get($_default, 'color', 'on-secondary-container'),
    'inactive-icon-color': map.get($_default, 'color', 'on-surface-variant'),
    'menu-icon-color': map.get($_default, 'color', 'on-surface-variant'),
    'menu-icon-size': 24px,
    'active-indicator-color': map.get($_default, 'color', secondary-container),
    'active-indicator-height': 32px,
    'no-label-active-indicator-height': 56px,
    'active-indicator-shape': map.get($_default, 'shape', 'corner-full'),
    'no-label-active-indicator-shape': map.get($_default, 'corner-full'),
    'active-indicator-width': 56px,
    'hover-label-text-color': map.get($_default, 'color', 'on-surface'),
    'active-hover-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'inactive-hover-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'hover-state-layer-opacity': map.get($_default, 'state', 'hover-state-layer-opacity'),
    'menu-hover-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'menu-hover-state-layer-opacity': map.get($_default, 'state', 'hover-state-layer-opacity'),
    'active-hover-icon-color': map.get($_default, 'color', 'on-secondary-container'),
    'inactive-hover-icon-color': map.get($_default, 'color', 'on-surface'),
    'menu-hover-icon-color': map.get($_default, 'color', 'on-surface'),
    'focus-label-text-color': map.get($_default, 'color', 'on-surface'),
    'inactive-focus-label-text-color': map.get($_default, 'color', 'on-surface'),
    'active-focus-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'inactive-focus-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'active-focus-state-layer-opacity': map.get($_default, 'state', 'focus-state-layer-opacity'),
    'focus-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'menu-focus-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'menu-focus-state-layer-opacity': map.get($_default, 'state', 'focus-state-layer-opacity'),
    'active-focus-icon-color': map.get($_default, 'color', 'on-secondary-container'),
    'inactive-focus-icon-color': map.get($_default, 'color', 'on-surface'),
    'menu-focus-icon-color': map.get($_default, 'color', 'on-surface'),
    'active-pressed-label-text-color': map.get($_default, 'color', 'on-surface'),
    'inactive-pressed-label-text-color': map.get($_default, 'color', 'on-surface'),
    'active-pressed-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'inactive-pressed-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'pressed-state-layer-opacity': map.get($_default, 'state', 'pressed-state-layer-opacity'),
    'menu-pressed-state-layer-color': map.get($_default, 'color', 'on-surface'),
    'menu-pressed-state-layer-opacity': map.get($_default, 'state', 'pressed-stae-layer-opacity'),
    'active-pressed-icon-color': map.get($_default, 'color', 'on-secondary-container'),
    'inactive-pressed-icon-color': map.get($_default, 'color', 'on-surface'),
    'menu-pressed-icon-color': map.get($_default, 'color', 'on-surface')
  )
}

