@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../tokens/_nd-comp-table";
@use "../../IconButton/internal/outlined-icon-button";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, nd-comp-table.$supported-tokens, table);
}

@mixin styles() {
  .nd-table {
    @include tokens-builder.tokens(nd-comp-table.values(), table);
    inline-size: 100%;
    position: relative;
    border-collapse: collapse;
    background: transparent;
    border-radius: inherit;

    .nd-table__caption {
      text-align: -webkit-left;
      color: var(--_caption-text-color);
      font-family: var(--_caption-text-font), sans-serif;
      font-weight: var(--_caption-text-weight);
      line-height: var(--_caption-text-line-height);
      font-size: var(--_caption-font-size);
      padding-block: 16px 24px;
      padding-inline: 16px;
    }

    .nd-table__header {

    }

    .nd-table__cell {
      text-align: center;
      block-size: 40px;
      color: var(--_label-text-color);
      font-size: var(--_label-text-size);
      font-family: var(--_label-text-font), sans-serif;
      line-height: var(--_label-text-line-height);
    }

    .nd-table__row {
      border-color: var(--_border-color);
      border-style: solid;
      border-block-width: 1px;
      border-inline-width: 0;
    }
  }
}