@mixin theme($tokens) {

}

@mixin styles() {
  table {
    width: 100%;
    border-collapse: collapse; /* 确保边框不会重叠，并且整齐 */
  }

  th, td {
    border: 1px solid black; /* 为表头和单元格添加边框 */
    padding: 8px; /* 添加内边距，使文本不会紧贴边框 */
    text-align: left; /* 文本对齐方式 */
  }

  select {
    margin-left: 10px; /* 筛选下拉菜单与标题的间距 */
  }

}