@use "sass:map";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../tokens/md-sys-color";
@use "../../tokens/md-sys-shape";
@use "../../tokens/md-sys-motion";

$_color: md-sys-color.values-light();
$_shape: md-sys-shape.values();
$_motion: md-sys-motion.values();

$support-tokens: (
  'height',
  'width',
  'color',
  'shape'
);

$values: (
  'height': 32px,
  'width': 64px,
  'color': map.get($_color, 'secondary-container'),
  'shape': map.get($_shape, 'corner-full')
);

@mixin theme($tokens) {

}

@mixin styles() {
  .navigation-indicator {
    @include tokens-builder.tokens($values, navigation-indicator);
    @include background.styles;
    $_easing: map.get($_motion, 'easing-emphasized-decelerate');
    $_duration: map.get($_motion, 'duration-medium1');
    position: absolute;
    block-size: var(--md-navigation-indicator-height);
    inline-size: var(--md-navigation-indicator-width);
    border-radius: var(--md-navigation-indicator-shape);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .nd-ripple, &::before {
      transition: background-color $_easing $_duration;
      inline-size: inherit;
      block-size: inherit;
      inset: unset;
    }

    &.active {
      @include background.theme((
        color: var(--md-navigation-indicator-color)
      ));
    }
  }
}