@use "sass:map";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../tokens/md-sys-motion";

$_motion: md-sys-motion.values();

$support-tokens: (
);

$values: (
);

@mixin theme($tokens) {

}

@mixin styles() {
  .navigation-enter {
    border-radius: var(--_active-indicator-shape);
    inline-size: var(--_active-indicator-width);
    cursor: pointer;
    position: relative;

    .lsc {
      flex-grow: 10;
    }

    .indicator {
      @include background.theme((
        color: var(--_active-indicator-color),
        opacity: 0
      ));
      position: absolute;
      inset: 0;
      inline-size: inherit;
      block-size: var(--_active-indicator-height);
      border-radius: var(--_active-indicator-shape);
      @include background.styles;
      z-index: -1;
      pointer-events: none;
    }


    .nd-state-layer {
      margin-inline: auto;
      block-size: var(--_active-indicator-height);
      border-radius: var(--_active-indicator-shape);

      &::after {
        display: none;
      }
    }

    &.active {
      & > .indicator {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  .navigation-enter:has(.navigation-enter.active) {
    & > .indicator::before {
      background-color: var(--_inactive-focus-state-layer-color);
      opacity: var(--_focus-state-layer-opacity);
    }
  }

  .sub-entries {
    padding: 2px 0 0 16px;
    margin: 0;
    list-style: none;
    inline-size: calc(100% - 16px);
    block-size: 0;
    overflow: hidden;
    position: relative;

    .navigation-enter {
      inline-size: 100%;
    }

    &.open {
      block-size: fit-content;
    }
  }
}