@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../tokens/_nd-comp-navigation-rail";
@use "../../Elevation/internal/elevation";

@mixin theme($tokens) {
  @include tokens-builder.theme($tokens, nd-comp-navigation-rail.$support-tokens, navigation-rail);
}

@mixin styles() {
  .navigation-rail-container {
    @include tokens-builder.tokens(nd-comp-navigation-rail.values(), navigation-rail);
    position: fixed;
    z-index: 10;
    inset: 0 auto 0 0;
    inline-size: var(--_container-width);
    block-size: 100vh;
  }

  .navigation-rail {
    @include background.theme((
      color: var(--_container-color)
    ));
    @include elevation.theme((
      level: var(--_container-elevation)
    ));
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size: 100%;
    inline-size: inherit;
    border-radius: var(--_container-shape);
    overflow: scroll;
    @include background.styles;
  }
}