@use "sass:map";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../tokens/md-comp-navigation-drawer";
@use "../../List/internal/list-item";
@use "../../tokens/md-sys-color";
@use "../../tokens/md-ref-palette";
@use "../../Elevation/internal/elevation";
@use "../../tokens/md-sys-motion";

$_default: (
  color: md-sys-color.values-light(),
  palette: md-ref-palette.values(),
  motion: md-sys-motion.values()
);

$_values: (
  scrim: map.get($_default, 'palette', 'neutral-variant20')
);

@mixin styles() {
  .nd-navigation-drawer {
    @include tokens-builder.tokens(md-comp-navigation-drawer.values(), navigation-drawer);
    @include background.theme((
      color: var(--md-navigation-drawer-standard-container-color),
    ));
    --md-navigation-drawer-container-shape-start-start: var(--md-cust-navigation-drawer-container-shape-start-start, 0);
    --md-navigation-drawer-container-shape-start-end: var(--md-cust-navigation-drawer-container-shape-start-end, 16px);
    --md-navigation-drawer-container-shape-end-end: var(--md-cust-navigation-drawer-container-shape-end-end, 16px);
    --md-navigation-drawer-container-shape-end-start: var(--md-cust-navigation-drawer-container-shape-end-start, 0);

    padding: 0;
    border-radius: var(--md-navigation-drawer-container-shape-start-start) var(--md-navigation-drawer-container-shape-start-end) var(--md-navigation-drawer-container-shape-end-end) var(--md-navigation-drawer-container-shape-end-start);
    border-width: 0;
    border-style: none;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    margin-left: 0;
    left: 0;
    top: 0;

    &.modal {
      @include background.theme((
        color: var(--md-navigation-drawer-modal-container-color)
      ));
      @include elevation.theme((
        level: var(--md-navigation-drawer-modal-container-elevation)
      ));
      block-size: 100vh;
      margin-bottom: 0;
      margin-top: 0;
      left: 0;
    }

    .list {
      @include list-item.theme((
        one-line-container-height: var(--md-navigation-drawer-active-indicator-height)
      ));
      display: block;
      //inline-size: var(--md-navigation-drawer-container-width);
      block-size: var(--md-navigation-drawer-container-height);
      border-radius: inherit;
      padding-inline: 12px;
      box-sizing: border-box;
      margin: 0;
      list-style: none;
      overflow: scroll;
      background-color: var(--md-navigation-drawer-standard-container-color);

      &::before {
        background: none;
      }

      .headline {
        margin: 0;
        padding-inline-start: 16px;
        font-family: var(--md-navigation-drawer-headline-font), serif;
        font-size: var(--md-navigation-drawer-headline-size);
        font-weight: var(--md-navigation-drawer-headline-weight);
        line-height: calc(var(--md-navigation-drawer-headline-line-height) * 3);
        color: var(--md-navigation-drawer-headline-color);
      }

      .nd-divider {
        margin-block-start: 4px;
      }
    }

    .navigation-drawer-scrim {
      position: fixed;
      inset: 0;
      z-index: -1;
      opacity: 0.4;
      background-color: map.get($_default, 'palette', 'neutral-variant20');
    }

    &::backdrop {
      background-color: transparent;
    }

    &:hover {
      @include elevation.theme((
        level: 1
      ));
    }
  }
}