@use "../../tokens/md-comp-navigation-bar";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../Elevation/internal/elevation";
@use "../../Ripple/internal/ripple";

@mixin styles() {
  .nd-navigation-bar {
    @include tokens-builder.tokens(md-comp-navigation-bar.values(), navigation-bar);
    @include background.theme((
      color: var(--md-navigation-bar-container-color)
    ), navigation-bar);
    @include elevation.theme((
      level: var(--md-navigation-bar-container-elevation)
    ));
    @include ripple.theme((
      hover-color: var(--md-navigation-bar-inactive-hover-state-layer-color),
      pressed-color: var(--md-navigation-bar-inactive-pressed-state-layer-color)
    ));
    @include background.styles(navigation-bar);
    position: absolute;
    inset: auto 0 0 0;
    block-size: var(--md-navigation-bar-container-height);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .nd-navigation-action {
      .nd-navigation-action__icon {
        color: var(--md-navigation-bar-inactive-icon-color);
      }

      .nd-navigation-action__label {
        font-family: var(--md-navigation-bar-label-text-font), Roboto, sans-serif;
        color: var(--md-navigation-bar-inactive-label-text-color);
        font-size: var(--md-navigation-bar-label-text-size);
        font-weight: var(--md-navigation-bar-label-text-weight);
      }

      &:hover {
        .nd-navigation-action__icon {
          color: var(--md-navigation-bar-inactive-hover-icon-color);
        }

        .nd-navigation-action__label {
          color: var(--md-navigation-bar-inactive-hover-label-text-color);
        }
      }

      &:active {
        .nd-navigation-action__icon {
          color: var(--md-navigation-bar-inactive-pressed-icon-color);
        }

        .nd-navigation-action__label {
          color: var(--md-navigation-bar-inactive-pressed-label-text-color);
        }
      }
    }

    .nd-navigation-action.nd-navigation-action--active {
      @include ripple.theme((
        hover-color: var(--md-navigation-bar-active-hover-state-layer-color),
        pressed-color: var(--md-navigation-bar-active-pressed-state-layer-color)
      ));

      .nd-navigation-action__icon {
        color: var(--md-navigation-bar-active-icon-color);
      }

      .nd-navigation-action__label {
        color: var(--md-navigation-bar-active-label-text-color);
      }

      &:hover {
        .nd-navigation-action__icon {
          color: var(--md-navigation-bar-active-hover-icon-color);
        }

        .nd-navigation-action__label {
          color: var(--md-navigation-bar-active-hover-label-text-color);
        }
      }

      &:active {
        .nd-navigation-action__icon {
          color: var(--md-navigation-bar-active-pressed-icon-color);
        }

        .nd-navigation-action__label {
          color: var(--md-navigation-bar-active-pressed-label-text-color);
        }
      }
    }
  }
}