@use "sass:map";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../tokens/md-sys-motion";

$_motion: md-sys-motion.values();

$support-tokens: (
);

$values: (
);

@mixin theme($tokens) {

}

@mixin styles() {
  .navigation-enter {
    border-radius: var(--_active-indicator-shape);
    inline-size: var(--_active-indicator-width);
    //block-size: var(--_active-indicator-height);
    cursor: pointer;
    position: relative;

    .lsc {
      flex-grow: 10;
    }

    .indicator {
      position: absolute;
      inset: 0;
      inline-size: inherit;
      block-size: var(--_active-indicator-height);
      display: flex;
      justify-content: center;
      pointer-events: none;
      @include background.styles;

      &::before {
        background-color: var(--_active-indicator-color);
        opacity: 0;
        inset: unset;
        border-radius: var(--_active-indicator-shape);
        block-size: inherit;
        inline-size: 0;
      }
    }


    .nd-state-layer {
      margin-inline: auto;
      block-size: var(--_active-indicator-height);
      border-radius: var(--_active-indicator-shape);

      &::after {
        display: none;
      }
    }

    &.active {
      & > .indicator {
        &::before {
          opacity: 1;
          inline-size: inherit;
          transition-property: opacity, inline-size;
          transition-timing-function: map.get($_motion, 'easing-emphasized');
          transition-duration: map.get($_motion, 'duration-medium1');
        }
      }
    }
  }

  .navigation-enter:has(.navigation-enter.active) {
    & > .indicator::before {
      inline-size: inherit;
      background-color: var(--_inactive-focus-state-layer-color);
      opacity: var(--_focus-state-layer-opacity);
    }

    & > .nd-state-layer {
      display: none;
    }
  }

  .sub-entries {
    padding: 2px 0 0 16px;
    margin: 0;
    list-style: none;
    inline-size: calc(100% - 16px);
    overflow: hidden;
    position: relative;

    .navigation-enter {
      inline-size: 100%;
    }
  }
}