@use "sass:map";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../tokens/md-sys-motion";

$_motion: md-sys-motion.values();

@mixin theme($tokens) {

}

@mixin styles() {
  .navigation-enter {
    border-radius: var(--_active-indicator-shape);
    inline-size: var(--_active-indicator-width);
    cursor: pointer;
    position: relative;

    .lsc {
      flex-grow: 10;
    }

    .indicator {
      @include background.theme((
        color: var(--_active-indicator-color),
        opacity: 0
      ));
      position: absolute;
      inset: 0;
      block-size: var(--_active-indicator-height);
      inline-size: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--_active-indicator-shape);
      z-index: -1;
      pointer-events: none;
      @include background.styles;

      &::before {
        inline-size: 0;
        block-size: 100%;
        opacity: 0;
        inset: unset;
        transition-property: opacity, inline-size;
        transition-timing-function: map.get($_motion, 'easing-emphasized');
        transition-duration: map.get($_motion, 'duration-short4'), map.get($_motion, 'easing-medium1');
      }
    }


    .nd-state-layer {
      margin-inline: auto;
      block-size: var(--_active-indicator-height);
      border-radius: var(--_active-indicator-shape);

      &::after {
        display: none;
      }
    }

    &.active {
      & > .indicator::before {
        opacity: 1;
        inline-size: 100%;
        transition-property: opacity, inline-size;
        transition-timing-function: map.get($_motion, 'easing-emphasized');
        transition-duration: map.get($_motion, 'duration-short4'), map.get($_motion, 'duration-medium1');
      }
    }
  }

  .navigation-enter:has(.navigation-enter.active) {
    & > .indicator::before {
      background-color: var(--_inactive-focus-state-layer-color);
      opacity: var(--_focus-state-layer-opacity);
    }
  }

  .sub-entries {
    padding: 0;
    margin: 0;
    list-style: none;
    inline-size: calc(100% - 16px);
    block-size: 0;
    overflow: hidden;
    position: relative;
    display: none;

    .navigation-enter {
      inline-size: 100%;
    }

    &.open {
      display: block;
      padding: 2px 0 0 16px;
      block-size: fit-content;
    }
  }
}