@use "../../tokens/md-sys-motion";
@use "sass:map";

$motion: md-sys-motion.values();

@mixin theme($tokens) {

}

@mixin styles() {
  .slide-viewer {
    position: relative;
    block-size: 100%;
    inline-size: 100%;
    overflow: hidden;

    .viewer {
      position: absolute;
      inset: 0;
    }

    .sec-view {
      z-index: -1;
      opacity: 0;

      &.animating {
        opacity: 1;
      }
    }
  }
}