@use "../../tokens/md-sys-motion";
@use "sass:map";

$motion: md-sys-motion.values();

@mixin theme($tokens) {

}

@mixin styles() {
  .slide-viewer {
    position: relative;
    overflow: hidden;
    z-index: 10;

    .sec-view {
      position: absolute;
      inset: 0;
      z-index: -1;
      opacity: 0;

      &.animating {
        opacity: 1;
      }
    }
  }
}