@use "internal/shared";
@use "../builder/tokens-builder";
@use "../tokens/md-comp-assist-chip";
@use "../builder/background";

$tokens: md-comp-assist-chip.values();
$supported-tokens: md-comp-assist-chip.$supported-tokens;

.nd-assist-chip {
  @include tokens-builder.tokens($tokens, assist-chip);
  --md-assist-chip-shape-start-start: var(--md-assist-chip-container-shape);
  --md-assist-chip-shape-start-end: var(--md-assist-chip-container-shape);
  --md-assist-chip-shape-end-start: var(--md-assist-chip-container-shape);
  --md-assist-chip-shape-end-end: var(--md-assist-chip-container-shape);
  @include background.styles(assist-chip);
  @include shared.styles(assist-chip);
}