@use "internal/shared";
@use "../tokens/md-comp-filter-chip";
@use "../builder/tokens-builder";
@use "../builder/background";
@use "../Ripple/internal/ripple";

$tokens: md-comp-filter-chip.values();
$supported-tokens: md-comp-filter-chip.$supported-tokens;

.nd-filter-chip {
  @include tokens-builder.tokens($tokens, filter-chip);
  --md-filter-chip-shape-start-start: var(--md-filter-chip-container-shape);
  --md-filter-chip-shape-start-end: var(--md-filter-chip-container-shape);
  --md-filter-chip-shape-end-start: var(--md-filter-chip-container-shape);
  --md-filter-chip-shape-end-end: var(--md-filter-chip-container-shape);
  @include background.styles(filter-chip);
  @include shared.styles(filter-chip);

  &.nd-selected {
    @include background.theme((
      color: var(--md-filter-chip-selected-container-color)
    ), filter-chip);
    @include ripple.theme((
      hover-color: var(--md-filter-chip-selected-hover-state-layer-color),
      pressed-color: var(--md-filter-chip-selected-pressed-state-layer-color)
    ));

    svg {
      fill: var(--md-filter-chip-selected-leading-icon-color);
    }

    &.nd-disabled{
      @include background.theme((
        color: var(--md-filter-chip-disabled-selected-container-color),
        opacity: var(--md-filter-chip-disabled-selected-container-opacity)
      ), filter-chip);
    }
  }
}