@use "internal/shared";
@use "../tokens/md-comp-filter-chip";
@use "../builder/tokens-builder";
@use "../builder/background";
@use "../Ripple/internal/ripple";

$tokens: md-comp-filter-chip.values();
$supported-tokens: md-comp-filter-chip.$supported-tokens;

.nd-filter-chip {
  @include tokens-builder.tokens($tokens, filter-chip);
  --_chip-shape-start-start: var(--_md-filter-chip-shape-start-start, var(--_container-shape));
  --_chip-shape-start-end: var(--_md-filter-chip-shape-start-end, var(--_container-shape));
  --_chip-shape-end-start: var(--_md-filter-chip-shape-end-start, var(--_container-shape));
  --_chip-shape-end-end: var(--_md-filter-chip-shape-end-end, var(--_container-shape));
  @include background.styles;
  @include shared.styles;

  &.nd-selected {
    @include background.theme((
      color: var(--_selected-container-color)
    ));
    @include ripple.theme((
      hover-color: var(--_selected-hover-state-layer-color),
      pressed-color: var(--_selected-pressed-state-layer-color)
    ));

    svg {
      fill: var(--_selected-leading-icon-color);
    }

    &.nd-disabled{
      @include background.theme((
        color: var(--_disabled-selected-container-color),
        opacity: var(--_disabled-selected-container-opacity)
      ));
    }
  }
}