@use "internal/shared";
@use "../tokens/md-comp-input-chip";
@use "../builder/tokens-builder";
@use "../builder/background";

$tokens: md-comp-input-chip.values();
$supported-tokens: md-comp-input-chip.$supported-tokens;

.nd-input-chip {
  @include tokens-builder.tokens($tokens, input-chip);
  --md-input-chip-trail-icon-size: var(--md-input-chip-icon-size);
  @include background.styles(input-chip);
  @include shared.styles(input-chip);

  .nd-chip__button {
    position: static;
    padding-inline-end: 0;
  }

  .nd-input-chip__trail {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    block-size: var(--md-input-chip-height);
    padding-inline-start: var(--md-input-chip-icon-label-space);
    padding-inline-end: var(--md-input-chip-with-trailing-icon-trailing-space);

    svg {
      block-size: var(--md-input-chip-icon-size);
      inline-size: var(--md-input-chip-icon-size);
      fill: var(--md-input-chip-trailing-icon-color);
    }

    .nd-ripple {
      border-radius: 50%;
      height: calc(4 / 3 * var(--md-input-chip-icon-size)); // 24px default
      width: calc(4 / 3 * var(--md-input-chip-icon-size)); // 24px default
      margin: auto;
    }
  }

  &.nd-disabled {
    .nd-input-chip__trail {
      svg {
        fill: var(--md-input-chip-disabled-trailing-icon-color);
        opacity: var(--md-input-chip-disabled-trailing-icon-opacity);
      }
    }
  }
}