@use "content/shared";
@use "../builder/tokens-builder";
@use "../tokens/md-comp-suggestion-chip";
@use "../builder/background";

$tokens: md-comp-suggestion-chip.values();
$supported-tokens: md-comp-suggestion-chip.$supported-tokens;

.nd-suggestion-chip {
  @include tokens-builder.tokens($tokens, suggestion-chip);
  --_chip-shape-start-start: var(--_md-suggestion-chip-shape-start-start, var(--_container-shape));
  --_chip-shape-start-end: var(--_md-suggestion-chip-shape-start-end, var(--_container-shape));
  --_chip-shape-end-start: var(--_md-suggestion-chip-shape-end-start, var(--_container-shape));
  --_chip-shape-end-end: var(--_md-suggestion-chip-shape-end-end, var(--_container-shape));
  @include background.styles;
  @include shared.styles;
}