@use "../../builder/background";

@mixin styles() {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .nd-checkbox-content {
    --_icon-color: var(--_outline-color);
    @include background.styles;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: var(--_container-shape);
    block-size: 24px;
    inline-size: 24px;

    &::before {
      block-size: 18px;
      inline-size: 18px;
      inset: unset;
    }

    input[type='checkbox'] {
      opacity: 0;
      block-size: 48px;
      inline-size: 48px;
      position: absolute;
      z-index: 1;
      margin: 0;
    }

    svg {
      // change it at different state
      fill: var(--_icon-color);

      &.nd-uncheck{
        scale: 1.2;
      }
    }

    &.nd-check,
    &.nd-indeterminate {
      @include background.theme((
        // change it at different state
        color: var(--_selected-container-color)
      ));

      svg {
        // change it at different state
        fill: var(--_selected-icon-color);
      }
    }
  }
}