@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-ripple";

$tokens: md-comp-ripple.values();

/**
  'hover-color',
  'hover-opacity',
  'pressed-color',
  'pressed-opacity',
 */
@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, md-comp-ripple.$supported-tokens, ripple)
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, ripple);
  position: absolute;
  inset: 0;
  border-radius: inherit;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  //z-index: -1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0;
    pointer-events: none;
    //z-index: -1;
  }

  &::before {
    inset: 0;
    background-color: var(--_hover-color);
    transition: opacity 15ms linear, background-color 15ms linear;
  }

  &::after {
    background: radial-gradient(closest-side, var(--_pressed-color) max(calc(100% - 70px), 65%), transparent 100%);
    transform-origin: center center;
    transition: opacity 375ms linear;
  }

  &.hover::before,
  &.force-hover::before {
    opacity: var(--_hover-opacity);
  }

  &.pressed::after,
  &.force-pressed::after {
    opacity: var(--_pressed-opacity);
    transition-duration: 105ms;
  }

  &.disabled {
    display: none;
  }
}