@use "../../Outline/internal/outline";
@use "../../Focus/internal/focus-ring";
@use "../../builder/background";
@use "../../Elevation/internal/elevation";
@use "../../Ripple/internal/ripple";

@mixin styles($comp:"") {
  --md-assist-chip-padding-inline-start: var(--md-assist-chip-leading-space);
  --md-assist-chip-padding-inline-end: var(--md-assist-chip-trailing-space);
  --md-assist-chip-height: var(--md-assist-chip-container-height);
  --md-assist-chip-font-family: var(--md-assist-chip-label-text-font);
  --md-assist-chip-font-size: var(--md-assist-chip-label-text-size);
  --md-assist-chip-line-height: var(--md-assist-chip-label-text-line-height);
  --md-assist-chip-font-weight: var(--md-assist-chip-label-text-weight);
  --md-assist-chip-font-color: var(--md-assist-chip-label-text-color);
  --md-assist-chip-icon-color: var(--md-assist-chip-leading-icon-color);
  --md-assist-chip-icon-size: var(--md-assist-chip-icon-size);

  @include outline.theme((
    style: solid,
    width: var(--md-assist-chip-outline-width),
    color: var(--md-assist-chip-outline-color)
  ));

  @include focus-ring.theme((
    shape-start-start: var(--md-assist-chip-shape-start-start),
    shape-start-end: var(--md-assist-chip-shape-start-end),
    shape-end-start: var(--md-assist-chip-shape-end-start),
    shape-end-end: var(--md-assist-chip-shape-end-end),
  ));

  @include ripple.theme((
    hover-color: var(--md-assist-chip-hover-state-layer-color),
    hover-opacity: var(--md-assist-chip-hover-state-layer-opacity),
    pressed-color: var(--md-assist-chip-pressed-state-layer-color),
    pressed-opacity: var(--md-assist-chip-pressed-state-layer-opacity),
  ));

  @include background.theme((
    color: transparent,
    opacity: 1
  ));

  @include elevation.theme((
    level: 0,
    shadow-color: transparent,
  ));

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-start-start-radius: var(--md-assist-chip-shape-start-start, var(--md-assist-chip-container-shape));
  border-start-end-radius: var(--md-assist-chip-shape-start-end, var(--md-assist-chip-container-shape));
  border-end-start-radius: var(--md-assist-chip-shape-end-start, var(--md-assist-chip-container-shape));
  border-end-end-radius: var(--md-assist-chip-shape-end-end, var(--md-assist-chip-container-shape));
  z-index: 10;
  block-size: var(--md-assist-chip-height);

  .nd-chip__button {
    border: none;
    outline: none;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    block-size: 100%;
    gap: 8px;
    padding-inline-start: var(--md-assist-chip-padding-inline-start);
    padding-inline-end: var(--md-assist-chip-padding-inline-end);
    $single-line-height: max(var(--md-assist-chip-line-height), var(--md-assist-chip-icon-size));
    padding-block: calc((var(--md-assist-chip-height) - $single-line-height) / 2);
    border-radius: inherit;

    .nd-chip__icon-slot {
      display: contents;
    }

    .nd-chip__icon-slot,
    .nd-chip__icon-slot > * {
      color: var(--md-assist-chip-icon-color);
      font-size: var(--md-assist-chip-icon-size);
    }

    .nd-chip__label {
      font-family: var(--md-assist-chip-font-family), serif;
      font-size: var(--md-assist-chip-font-size);
      color: var(--md-assist-chip-font-color);
      line-height: var(--md-assist-chip-line-height);
      font-weight: var(--md-assist-chip-font-weight);
    }

    &.nd-chip--with-icon {
      --md-assist-chip-padding-inline-start: var(--md-assist-chip-with-leading-icon-leading-space)
    }

    &.nd-chip--with-trailing-icon {
      --md-assist-chip-padding-inline-end: var(--md-assist-chip-with-trailing-icon-trailing-space);
    }
  }

  &:focus-visible {
    --md-assist-chip-font-color: var(--md-assist-chip-focus-label-text-color);
    --md-assist-chip-icon-color: var(--md-assist-chip-focus-leading-icon-color);
    --md-assist-chip-trail-color: var(--md-assist-chip-focus-trailing-icon-color);

    @include outline.theme((
      color: var(--md-assist-chip-focus-outline-color)
    ))
  }

  &:hover {
    --md-assist-chip-font-color: var(--md-assist-chip-hover-label-text-color);
    --md-assist-chip-icon-color: var(--md-assist-chip-hover-leading-icon-color);
  }

  &:active {
    --md-assist-chip-font-color: var(--md-assist-chip-pressed-label-text-color);
    --md-assist-chip-icon-color: var(--md-assist-chip-pressed-leading-icon-color);
  }

  &.nd-disabled {
    --md-assist-chip-font-color: var(--md-assist-chip-disabled-label-text-color);
    --md-assist-chip-icon-color: var(--md-assist-chip-disabled-leading-icon-color);
    @include outline.theme((
      color: var(--md-assist-chip-disabled-outline-color),
      opacity: var(--md-assist-chip-disabled-outline-opacity)
    ));

    .nd-chip__label {
      opacity: var(--md-assist-chip-disabled-label-text-opacity);
    }

    .nd-chip__icon-slot,
    .nd-chip__icon-slot > * {
      opacity: var(--md-assist-chip-disabled-leading-icon-opacity);
    }
  }

  &.nd-elevated {
    @include background.theme((
      color: var(--md-assist-chip-elevated-container-color)
    ));
    @include elevation.theme((
      level: var(--md-assist-chip-elevated-container-elevation),
      shadow-color: var(--md-assist-chip-elevated-container-shadow-color)
    ));

    &:focus-visible {
      @include elevation.theme((
        level: var(--md-assist-chip-elevated-focus-container-elevation),
        shadow-color: var(--md-assist-chip-elevated-container-shadow-color)
      ));
    }

    &:hover {
      @include elevation.theme((
        level: var(--md-assist-chip-elevated-hover-container-elevation)
      ));
    }

    &:active {
      @include elevation.theme((
        level: var(--md-assist-chip-elevated-pressed-container-elevation)
      ));
    }

    &.nd-disabled {
      @include background.theme((
        color: var(--md-assist-chip-elevated-disabled-container-color),
        opacity: var(--md-assist-chip-elevated-disabled-container-opacity)
      ));
      @include elevation.theme((
        level: var(--md-assist-chip-elevated-disabled-container-elevation)
      ));
    }
  }
}