@use "sass:map";
@use "../../builder/tokens-builder";
@use "../../tokens/md-comp-focus-ring";
@use "../../tokens/md-sys-motion";

$tokens: md-comp-focus-ring.values();
$_md-sys-motion: md-sys-motion.values();

/*
  active-width',
  'color',
  'duration',
  'inward-offset',
  'outward-offset',
  'shape',
  'width',
 */
@mixin theme($new-tokens) {
  @include tokens-builder.theme($new-tokens, md-comp-focus-ring.$supported-tokens, focus-ring);
}

@mixin styles() {
  @include tokens-builder.tokens($tokens, focus-ring);
  $start-start: var(--md-focus-ring-shape-start-start, var(--md-focus-ring-shape, var(--_shape)));
  $start-end: var(--md-focus-ring-shape-start-end, var(--md-focus-ring-shape, var(--_shape)));
  $end-end: var(--md-focus-ring-shape-end-end, var(--md-focus-ring-shape, var(--_shape)));
  $end-start: var(--md-focus-ring-shape-end-start, var(--md-focus-ring-shape, var(--_shape)));

  animation-delay: 0s, calc(var(--_duration) * 0.25);
  animation-duration: calc(var(--_duration) * 0.25), calc(var(--_duration) * 0.75);
  animation-timing-function: map.get($_md-sys-motion, 'easing-emphasized');
  box-sizing: border-box;
  color: var(--_color);
  display: none;
  pointer-events: none;
  position: absolute;

  &.visible {
    display: flex;
  }

  &:not(.inward) {
    animation-name: outward-grow, outward-shrink;
    border-end-end-radius: calc($end-end + var(--_outward-offset));
    border-end-start-radius: calc($end-start + var(--_outward-offset));
    border-start-end-radius: calc($start-end + var(--_outward-offset));
    border-start-start-radius: calc($start-start + var(--_outward-offset));
    inset: calc(-1 * var(--_outward-offset));
    outline: var(--_width) solid currentColor;
  }

  &.inward {
    animation-name: inward-grow, inward-shrink;
    border-end-end-radius: calc($end-end - var(--_inward-offset));
    border-end-start-radius: calc($end-start - var(--_inward-offset));
    border-start-end-radius: calc($start-end - var(--_inward-offset));
    border-start-start-radius: calc($start-start - var(--_inward-offset));
    border: var(--_width) solid currentColor;
    inset: var(--_inward-offset);
  }

  @keyframes outward-grow {
    from {
      outline-width: 0;
    }
    to {
      outline-width: var(--_active-width);
    }
  }

  @keyframes outward-shrink {
    from {
      outline-width: var(--_active-width);
    }
  }

  @keyframes inward-grow {
    from {
      border-width: 0;
    }
    to {
      border-width: var(--_active-width);
    }
  }

  @keyframes inward-shrink {
    from {
      border-width: var(--_active-width);
    }
  }

  @media (prefers-reduced-motion) {
    & {
      animation: none;
    }
  }
}