@use "../../tokens/md-comp-radio";
@use "../../builder/tokens-builder";
@use "../../builder/background";
@use "../../Ripple/internal/ripple";

@mixin theme($tokens) {
  @include ripple.theme($tokens, md-comp-radio.$supported-tokens, radio-button)
}

@mixin styles() {
  .radio-button {
    @include tokens-builder.tokens(md-comp-radio.values(), radio-button);
    @include ripple.theme((
      hover-color: var(--md-radio-button-hover-state-layer-color),
      hover-opacity: var(--md-radio-button-hover-state-layer-opacity),
      pressed-color: var(--md-radio-button-pressed-state-layer-color),
      pressed-opacity: var(--md-radio-button-hover-state-layer-opacity),
    ));

    position: relative;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    input[type='radio'] {
      opacity: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
    }

    svg {
      font-size: var(--md-radio-button-icon-size);
      fill: var(--md-radio-button-icon-color);
    }

    .nd-ripple {
      position: absolute;
      inset: unset;
      border-radius: 9999px;
      block-size: var(--md-radio-button-state-layer-size);
      inline-size: var(--md-radio-button-state-layer-size);
    }

    &:focus-visible {
      svg {
        fill: var(--md-radio-button-focus-icon-color);
      }
    }

    &:hover {
      svg {
        fill: var(--md-radio-button-hover-icon-color);
      }
    }

    &.radio-button--selected {
      svg {
        fill: var(--md-radio-button-selected-icon-color)
      }

      &:hover {
        @include ripple.theme((
          hover-color: var(--md-radio-button-selected-hover-ripple-color)
        ));

        svg {
          fill: var(--md-radio-button-selected-hover-icon-color)
        }
      }

      &:active {
        @include ripple.theme((
          hover-color: var(--md-radio-button-selected-pressed-ripple-color)
        ));

        svg {
          fill: var(--md-radio-button-selected-pressed-icon-color)
        }
      }

      &.radio-button--disabled {
        svg {
          fill: var(--md-radio-button-disabled-selected-icon-color);
          opacity: var(--md-radio-button-disabled-selected-icon-opacity);
        }
      }
    }

    &.radio-button--disabled {
      svg {
        fill: var(--md-radio-button-disabled-unselected-icon-color);
        opacity: var(--md-radio-button-disabled-unselected-icon-opacity);
      }
    }
  }
}